html, body {
    height: 100%;
}

/*Customization des boutons */
.btn-primary {
    color: #FFF;
    background-color: #FFC32A;
    border-color: #EBA800;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #FFF;
    background-color: #FAB400;
    border-color: #C99000;
}


.mp-menu ul li > a, .mp-menu h2 {
    text-decoration: none;
    color: #f7f7f7;
    outline: none;
}
.mp-menu ul li > a span.icon{
    text-decoration: none;
    color: #d36c0a;
    outline: none;
}

.mp-menu label {
    color:white;
}

.logo_gi{
    width: 32px;
    margin-right: 15px;
    margin-bottom: -10px;
}

.consultation-panel {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #3A3A3A;
    width: 300px;
    display: block;
    height: 100%;
    position: absolute;
    right: -300px;
    z-index: 1000;
    top: 0;
    color: gray;
    padding: 20px;
    -webkit-transition:  -webkit-transform 0.1s 0.3s;
    transition:  transform 0.1s 0.3s;
}

.consultation-panel.open {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.consultation-panel.double-open {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
}

#trigger, #trigger2{
    display: block;
    position: fixed;
    bottom: 10px;
    width: 20px;
    height: 40px;
    z-index: 10;
    color: transparent;
    border: 1px solid rgb(173, 173, 173);
}

#trigger{
    box-shadow: -1px 0px 5px 1px rgba(0, 0, 0, 0.43);
    left : 0px;
    border-left : none;
    border-radius: 0 8px 8px 0;
    background: linear-gradient(to right, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%);
}

#trigger2{
    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.43);
    border-right : none;
    right : 0px;
    border-radius:  8px 0 0 8px ;
    background: linear-gradient(to right, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
}
