@font-face {
    font-family: 'robotolight';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



html, body {
    height: 100%;
    background: #373f45;
    overflow: hidden;
    font-family: 'robotoregular', sans-serif;
}

/** Vue principale */
#mainview {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#mainmap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}

#smartgeo-map{
    width:100%;
    height:100%;
}

/** Panneaux de droite */
.consultation-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #373f45;
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1000;
    top: 0;
    color: gray;
    -webkit-transition:  width 0.1s 0.3s;
    transition:  width 0.1s 0.3s;
}
.consultation-panel h4.family-title {
    color: white;
}

.consultation-content {
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    display: none;
}
.consultation-content button.closer {
    position: fixed;
    top: 5px;
    right: 5px;
    border: 1px solid #373f45;
}
.consultation-panel.open .consultation-content{
    display: block;
}
.consultation-panel.open {
    width: 300px;
}
.consultation-panel.double-open {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
}

#toggleConsultationPanelButton{
    position: absolute;
    left: -20px;
    z-index: 100000;
    right: 0;
    display: block;
    bottom: 10px;
    width: 20px;
    height: 40px;
    color: white;
    font-size: 15px;
    border: 1px solid #858585;
    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.10);
    border-right : none;
    text-decoration: none;
    border-radius: 8px 0 0 8px;
    background: #373f45;
}

#toggleConsultationPanelButton  span {
    margin-top: 12px;
    display: inline-block;
    margin-left: 7px;
}


/** Menu */
#mp-pusher {
    z-index: 10000;
}
/* On doit donner une largeur nulle au menu quand il est fermé,
 * sinon, il masque les événements qui doivent arriver à la carte.
 */
#mp-pusher {
    width: 0;
}
#mp-pusher.mp-pushed {
    width: 100%;
}
/* La classe mp-pusher a un transition: all. A cause de ce qui précède,
 * cela donne un effet assez laid où l'ombre du menu "avance" vers la
 * droite et mange la carte. On désactive ça.
 */
#mp-pusher {
-webkit-transition: -webkit-transform 0.5s;
transition:  transform 0.5s;
}

#mp-menu {
    overflow: auto;
    background: #373f45;
}

#mp-menu li > a, #mp-menu  label{
    /*font-family: 'robotolight', sans-serif;*/
}

.mp-level > ul > li > a > .icon {
    margin-right: 10px;
}

#mp-menu .form-control , #mp-menu button{
    width: 90%;
    margin: 5%;
}
#mp-menu  label{
    margin: 0 5%;
}

.select2-container {
    width: 90%;
margin: 0 5%;
}

.floating-form {
    margin: 100px auto 10px auto;
    padding: 10px;
    width: 300px;
    text-align: center;
}
.floating-form  small{
    float: right;
}
.container_s {
    font-weight: normal!important;
}
.floating-form img {
    max-width: 250px;
}
.floating-form a.btn {
    width: 278px;
}
.floating-form .has-carret a.btn {
    width: 253px
}

.floating-form .dropdown-menu {
    text-align: left;
}

.bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.big-button {
    width: 100%;
}

/*Customization des boutons */
.btn-primary {
    color: #FFF;
    background-color: #fd9122;
    border-color: #fd9122;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
z-index: 2;
color: #ffffff;
background-color: #fd9122;
border-color: #fd9122;
}
.list-group-item.active label {
color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #FFF;
    background-color: #FAB400;
    border-color: #fd9122;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    color: #FFF;
    background-color: #FFC32A;
    border-color: #EBA800;
}

.mp-menu ul li > a, .mp-menu h2 {
    text-decoration: none;
    color: #f7f7f7;
    outline: none;
}
.mp-menu h2 {
    text-align: center;
}
.mp-menu ul li > a span.icon{
    text-decoration: none;
    color: #fd9122;
    outline: none;
}

.mp-menu label {
    color:white;
}

.logo_gi {
    width: 70%;
    margin-right: 15px;
    margin-bottom: -20px;
    border-bottom: 1px solid #fd9122;
    padding: 10px 30px 20px;
}

#trigger, #trigger:hover  {
    display: block;
    position: fixed;
    bottom: 10px;
    width: 20px;
    height: 40px;
    z-index: 10;
    color: white;
    font-size: 20px;
    border: 1px solid #858585;
    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.10);
    left : 0px;
    border-left : none;
    text-decoration: none;
    border-radius: 0 8px 8px 0;
    background: #373f45;
}

#trigger  span {
    margin-top: 10px;
    display: inline-block;
    margin-left: 5px;
}

/**
 * Saisie de compte-rendu
 */
.report label {
    display: inline;
}

.reportForm {
    padding: 15px;
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.reportForm h3{
    color: white;
}
.reportForm .isconsequence {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid gray;
}
.reportForm b.ro-label {
    display: inline-block;
    min-width: 300px;
}


label.prettycheckbox input, .list-group-item input{
    display: none;
}
label.prettycheckbox, .list-group-item  label {
    color: #555555;
    padding: 6px 12px;
    vertical-align: middle;
}
label.prettycheckbox {
    border: 1px solid #cccccc;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
label.prettycheckbox.checked {
    border-radius: 3px;
}
label.prettycheckbox.checked .yes, label.prettycheckbox .no, .list-group-item  .checked .yes, .list-group-item  .no {
    display: inline;
    margin-top: 3px;
    margin-right: 10px;
}
label.prettycheckbox.checked .yes, .list-group-item .checked .yes {
    margin-right: 8px;
}
label.prettycheckbox.checked .no, label.prettycheckbox .yes, .list-group-item .checked .no,.list-group-item .yes {
    display: none;
}

.ng-invalid > .help-block,
.ng-invalid > .control-label {
  color: #b94a48;
}
.ng-invalid > .form-control {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.ng-invalid > .form-control:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
