<div ng-controller="consultationController" class="consultation-panel" ng-class="state" id="consultation-panel">
    <h3>
          <button type="button" class="btn pull-right" ng-click="close()" style="padding: 1px 7px;">&times;</button>
    </h3>

    <div ng-repeat="(okey, assets) in groups">
        <h4>{{site.metamodel[okey].label}}</h4>
        <div class="panel-group" id="accordion">
          <div ng-repeat='asset in assets' class="panel panel-default">

            <div class="panel-heading">
              <h4 class="panel-title">
                <a  class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{asset.okey}}-{{$index}}"
                    ng-click="toggleCollapse($event)">
                  {{asset.label}}
                </a>
              </h4>
            </div>

            <div id="collapse-{{asset.okey}}-{{$index}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <span ng-repeat='tab in site.metamodel[asset.okey].tabs'>
                        <!-- TODO: Passer les valeurs dans un filter pour supprimer les champs et les onglets vides -->
                        <h5>{{tab.label}}</h5>
                        <table style="font-size: 0.8em;" class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat='field in tab.fields' ng-show='asset.attributes[field.key]'>
                                    <td >{{field.label}}</td>
                                    <td>{{asset.attributes[field.key]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </span>

                    <hr/>

                    <div class="btn-group" style="width:100%" >
                      <button type="button" style="width:100%" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Compte rendu <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="activity in site.activities" ng-show='activity.okeys[0] == asset.okey'>
                                <a href="#/report/{{site.id}}/{{activity.id}}/{{asset.guid}}">{{activity.label}}</a>
                            </li>
                      </ul>
                    </div>
                    <hr/>
                    <button class="btn btn-primary btn-block" ng-click="zoomOnAsset(asset)">Localiser</button>
                    <button class="btn btn-primary btn-block" ng-click="gotoAsset(asset)">S'y rendre</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div id="toggleConsultationPanelButton" ng-click="toggleConsultationPanel()">open</div> -->
</div>

