<div class="container" ng-controller="authController">
    <form ng-submit="login()">
        <h2>Smartgeo mobile <small>{{version}}</small></h2>
        <input class="form-control" type='text' ng-model="username" placeholder='Utilisateur' />
        <p></p>
        <input class="form-control" type='password' ng-model="pwd" placeholder='Mot de passe'/>
        <p></p>
<!--        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Se souvenir de moi
        </label> -->
        <button  class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="!readyToLog">{{logMessage}}</button>
    </form>

    <hr/>

    <div  class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Paramètres GLO <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a ng-click="setGimapUrl()">Changer de serveur ({{gimapUrl}})</a></li>
            <li><a ng-click="forgetPassword()">Oublier le mot de passe enregistré</a></li>
        </ul>
    </div>

    <hr/>

    <button class="btn btn-block" ng-click="showParameters()"><i class="icon icon-settings"></i>Paramètres FSI</button>

    <div ng-show="parametersVisible">
        <p>
            <a ng-click="setGimapUrl()">Changer de serveur ({{gimapUrl}})</a>
        </p>
        <p>
            <a ng-click="forgetPassword()">Oublier le mot de passe enregistré</a>
        </p>
        <p>
            <button  class="btn btn-primary btn-block" ng-click="hideParameters()">Fermer</button>
        </p>
    </div>
</div
