<div class="container" ng-controller="authController">
    <form ng-submit="login()" class="panel floating-form">
        <h2><img src="./images/logo-smartgeo.png" alt="Smartgeo mobile"> <small>{{version}}</small></h2>
        <hr />
        <p><input class="form-control" type='text' ng-model="gimapUrl" ng-show='firstAuth' placeholder='Adresse du serveur' /></p>
        <p><input class="form-control" type='text' ng-model="username" placeholder='Utilisateur' /></p>
        <p><input class="form-control" type='password' ng-model="pwd" placeholder='Mot de passe'/></p>
        <p>Se souvenir du mot de passe <input type="checkbox" ng-model="rememberme"></p>
        <hr>


        <button class="btn btn-lg btn-primary btn-block has-spinner" ng-class='{active:!readyToLog && !firstAuth}' type="submit"
                ng-disabled=" (!readyToLog && !firstAuth) || (firstAuth && !gimapUrl)">
            <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
            {{logMessage}}
        </button>
    </form>
    <div  class="btn-group bottom-right dropup">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="icon icon-gears"></span> Paramètres <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
            <li ng-show="smallUrl.length > 0"><a id="changeGiMapUrl" ng-click="setGimapUrl()">Changer de serveur <small>({{smallUrl}})</small></a></li>
            <li><a ng-click="forgetPassword()">Oublier le mot de passe enregistré</a></li>
        </ul>
    </div>
</div>
