
<div class="container_s" ng-controller="menuController">
    <div class="mp-pusher" id="mp-pusher">
        <nav id="mp-menu" class="mp-menu">
            <div class="mp-level">
                <h2><img class="logo_gi" src="images/logo.png" alt="">Smartgeo Mobile</h2>
                <ul>
                    <li>
                        <a href="#">
                            <span class="icon icon-info-sign"></span>
                            Consultation
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-edit"></span>
                            Compte rendu
                        </a>
                        <div class="mp-level">
                            <a class="mp-back" href="#">retour</a>
                            <ul>
                                <li ng-repeat='activity in site.activities'>
                                    <a style='padding-left: 1em;font-size:1em;' href="#/report/{{site.id}}/{{activity.id}}">
                                        <span class="icon icon-chevron-right" ></span>
                                        {{activity.label}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li >
                        <a href="#">
                            <span class="icon icon-search"></span>
                            Recherche
                            <div ng-include="'partials/search.html'"></div>
                        </a>
                    </li>

                    <li >
                        <a href="#">
                            <span class="icon icon-calendar"></span>
                            Planning
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="icon icon-gears"></span>
                            Paramètres
                        </a>
                        <div class="mp-level">
                            <a class="mp-back" href="#">retour</a>
                            <ul>
                                <li>
                                    <a style='padding-left: 1em;font-size:1em;' href="#/sites/reinstall/{{site.id}}">Forcer la réinstallation de {{site.label}}</a>
                                </li>
                                <li>
                                    <a style='padding-left: 1em;font-size:1em;' href="#/sites/uninstall/{{site.id}}">Désinstaller {{site.label}}</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="scroller">
            <div class="scroller-inner">
                <p><a href="#" id="trigger">Menu</a></p>
                <span ng-controller="mapController"><div id="smartgeo-map" ></div></span>
            </div>

        </div>
        <div ng-include="'partials/consultation.html'"></div>
    </div>
</div>
