<div ng-controller="planningController">

    <button class="btn btn-default has-spinner btn-block btn-custom-block">Actualiser</button>

    <div class="btn-group" style="margin-left: 45px;">
      <button type="button" class="btn btn-lg btn-default"><span class="icon icon-arrow-left"></span></button>
      <button type="button" class="btn btn-lg btn-default"><span class="icon icon-circle"></span></button>
      <button type="button" class="btn btn-lg btn-default"><span class="icon icon-calendar"></span></button>
      <button type="button" class="btn btn-lg btn-default"><span class="icon icon-arrow-right"></span></button>
    </div>

    <div ng-repeat="(key,mission) in missions" class="panel panel-default" style='width: 90%;margin: 10px auto;'  ng-show='mission.assets.length > 0'>
      <div ng-click='openMission(key)' class="panel-heading">
        <h3 class="panel-title">
          <span class="mission-label">{{mission.activity.label}} n°{{mission.number}}</span>
          <span class="badge pull-right mission-assets-count-badge" ng-switch on="mission.assets.length">
              <span ng-switch-when="0">terminé</span>
              <span ng-switch-default>{{mission.done.length}} / {{mission.done.length + mission.assets.length}}</span>
          </span>
        </h3>
      </div>
      <div class="custom-progress" style='width:{{100 *mission.done.length / (mission.done.length + mission.assets.length) }}%;'></div>
      <div class="panel-body"  ng-show='mission.openned || false'>

        <p>
          <i class="fa fa-clock-o"></i> Avant {{mission.end | customDateFilter | date:"h'h'mm le dd/MM/yy" }}
        </p>
        <p ng-show='mission.city'>
          <i class="fa fa-map-marker"></i> {{mission.city}}
        </p>
        <p ng-show='mission.address'>
          <i class="fa fa-crosshairs"></i> {{mission.address}}
        </p>
        <p ng-click='changeVisibility(key)'>
          <i class="fa" ng-class="mission.icon || 'fa-circle-o' " ></i> Afficher objets terminés
        </p>

        <div class='pull-right'>
            <button class="btn btn-warning"> <span class="fa fa-search fa-3x"></span><br/>Localiser</button>
            <button class="btn btn-warning"> <span class="fa fa-pencil fa-3x"></span><span class="badge badge-primary">100</span><br/>Saisir</button>
        </div>
      </div>
    </div>
</div>
