<div ng-controller="planningController" ng-init="initialize();">
    <button class="btn btn-default has-spinner btn-block btn-custom-block" ng-click="synchronize()">Actualiser</button>
    <div class="btn-group btn-block btn-custom-block">
      <button style='min-width: 80px;' type="button" ng-click="move(-1);updateCount();" ng-disabled="beforeToday <= 0" class="btn btn-default">
        <span class="icon icon-arrow-left"/>
        <span class="label label-warning" ng-show="beforeToday > 0">{{beforeToday}}</span>
      </button>
      <button type="button" ng-click="today();updateCount();"  class="btn btn-default">Aujourd'hui</button>
      <button style='min-width: 80px;' type="button" ng-click="move(1);updateCount();" ng-disabled="afterToday <= 0" class="btn btn-default">
        <span class="label label-warning" style='margin-right: 3px;' ng-show="afterToday > 0">{{afterToday}}</span>
        <span class="icon icon-arrow-right" />
      </button>
    </div>

    <h2>{{dayToDisplay |  date:"dd/MM/yy"}} <input style='width: 56px;' type="date" ng-model='dayToDisplay' ng-change="updateCount();"></h2>
    <div ng-repeat="(key,mission) in (missions | moreThanOneDayButTodaysMissions:dayToDisplay)">
      <h2 ng-show="$index == 0">OT en cours</h2>
      <ng-include src="'partials/mission.html'"/>
    </div>
    <div ng-repeat="(key,mission) in (missions | todaysMissions:dayToDisplay)">
      <h2 ng-show="$index == 0">OT du jour</h2>
      <ng-include src="'partials/mission.html'"/>
    </div>
</div>
