<form ng-controller="reportController" name="reportForm" class="reportForm">
    <h3><i18n>_REPORT_REPORT</i18n> {{report.activity.label}}</h3>
    <div ng-show="step==='assets'">
        <p>
            <button class="btn btn-default" ng-click="cancel()">
                <i18n>_REPORT_CANCEL</i18n>
            </button>

            <button class="btn btn-primary" ng-click="toForm()" ng-disabled="!report.assets.length">
                <i18n>_REPORT_NEXT</i18n> <span class="icon-chevron-right"></span>
            </button>
        </p>
        <p ng-show="!report.activity">
            <select class="form-control"
                    ng-change  = "loadAssets()"
                    ng-model   = "report.activity"
                    ng-options = "activity.label for activity in site.activities">
            </select>
        </p>
        <p>
            <select  class="form-control"
                     ng-model   = "report.assets"
                     ng-options = "asset as asset.label for asset in assets track by asset.id"
                     multiple>
            </select>
        </p>
        <p>
            <button class="btn btn-default" ng-click="cancel()">
                <i18n>_REPORT_CANCEL</i18n>
            </button>

            <button class="btn btn-primary" ng-click="toForm()" ng-disabled="!report.assets.length">
                <i18n>_REPORT_NEXT</i18n> <span class="icon-chevron-right"></span>
            </button>
        </p>
    </div>
    <div ng-show="step==='form'">
        <p>
            <button class="btn btn-default" ng-click="cancel()">
                <i18n>_REPORT_CANCEL</i18n>
            </button>

            <button ng-hide="fromConsult" class="btn btn-default" ng-click="step='assets'">
                <span class="icon-chevron-left"></span> <i18n>_REPORT_PREVIOUS</i18n>
            </button>
            <button class="btn btn-primary has-spinner" ng-class='{active:sendingReport}' ng-disabled="!reportForm.$valid || sendingReport" ng-click="sendReport($event)" >
                <span class="icon-save"></span>
                <i18n>_REPORT_SAVE</i18n>
                <span class="spinnerb"><i class="icon-spin icon-refresh"></i></span>
            </button>
        </p>
        <div ng-if="report.activity" ng-include="reportTemplate"></div>
        <div ng-show="!reportForm.$valid" class="container panel text-danger">
            <p ng-show="reportForm.$error.required"><span class="required-marker icon-asterisk"></span> <i18n>_REPORT_REQUIRED_FIELDS</i18n></p>
        </div>
        <div class="panel panel-default report">
            <div class="panel-heading">
                <h4 class="panel-title"><i18n>_REPORT_MEDIA</i18n></h4>
            </div>
            <div class="panel-body">
                <button ng-disabled="report.ged.length >= _MAX_MEDIA_PER_REPORT" camera class='btn btn-default btn-block' ng-model='report.ged'>
                    <i18n ng-show='!isTakingPhoto'>_REPORT_ADD_PICTURES</i18n>
                    <i18n ng-show='isTakingPhoto'>_REPORT_LOADING</i18n>
                    <span style="position: relative;top: -10px;left: 15px;" ng-show='isTakingPhoto' us-spinner="{radius:4, width:2, length: 5, hwaccel:true, color:'orange'}"></span>
                </button>
                <div id="images">
                    <ul class='ged-gallery' >
                        <li ng-repeat='image in report.ged'>
                            <img ng-src="{{image.content}}" alt=""/>
                            <span ng-click="removeGed($index)" class="icon icon-trash" style="text-align: center;display: block;font-size: 2em;margin-top: 9px;"></span>

                            <!-- <button class="btn btn-default btn-default " ng-click="">
                            </button>-->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <p>
            <button class="btn btn-default" ng-click="cancel()">
                <i18n>_REPORT_CANCEL</i18n>
            </button>

            <button ng-hide="fromConsult" class="btn btn-default" ng-click="step='assets'">
                <span class="icon-chevron-left"></span> <i18n>_REPORT_PREVIOUS</i18n>
            </button>

            <button class="btn btn-primary has-spinner" ng-class='{active:sendingReport}' ng-disabled="!reportForm.$valid || sendingReport" ng-click="sendReport($event)" >
                <span class="icon-save"></span>
                <i18n>_REPORT_SAVE</i18n>
                <span class="spinnerb"><i class="icon-spin icon-refresh"></i></span>
            </button>

        </p>
    </div>
</form>
