<div ng-controller="searchController">
    <ul>
        <li>
            <input class="form-control" type="text" ng-model="searchTerms" placeholder="Code metier"></input>
            <button class="btn btn-default btn-block has-spinner btn-custom-block" ng-class='{active:searchIsPerforming}' ng-click="search($event)">
                <span class="spinnerb"><i class="icon-spin icon-refresh"></i></span>
                    <i18n ng-show='!searchIsPerforming'>_SEARCH_SEARCH</i18n>
                    <i18n ng-show='searchIsPerforming'>_SEARCH_CANCEL_SEARCH</i18n>
            </button>
        </li>
        <li><label>{{searchMessage | i18n}}</label></li>
        <li>
            <a href="#">
                <span class="icon icon-search"></span>
                <i18n>_SEARCH_ADVANCED_SEARCH</i18n>
            </a>
            <div class="mp-level">
                <a class="mp-back" ng-click='backToPreviousLevel($event)' href="#"><i18n>_SEARCH_BACK</i18n></a>
                <ul>
                    <li>
                        <label><i18n>_SEARCH_TYPE</i18n></label>
                        <select class="form-control" ng-model="selectedFamily"
                                ng-options = " family.label for (okey, family) in site.metamodel">
                        </select>
                    </li>
                    <li>
                        <label><i18n>_SEARCH_CRITERIA</i18n></label>
                        <select ui-select2 ng-model="selectedCriteria" ng-change="selectedCriteriaChangeHandler()" multiple>
                            <option ng-repeat="(value, criter) in criteria[selectedFamily.okey]" value="{{criter.key}}">{{criter.label}}</option>
                        </select>
                    </li>
                    <li ng-repeat='fieldKey in selectedCriteria'>
                        <div class="form-group">
                            <label for="adSearchField-{{fieldKey}}">{{criteria[selectedFamily.okey]._byKey[fieldKey].label}}</label>
                            <div class="animate-switch-container" ng-switch on="criteria[selectedFamily.okey]._byKey[fieldKey].type">
                                <div ng-switch-when="D">
                                    <input type="date" ng-model="selectedCriteriaValues[fieldKey]" class="form-control" id="adSearchField-{{fieldKey}}">
                                </div>
                                <div ng-switch-when="T">
                                    <input class="form-control" type="time" ng-model="selectedCriteriaValues[fieldKey]" ></input>
                                </div>
                                <div ng-switch-when="L">
                                    <select ui-select2 ng-model="selectedCriteriaValues[fieldKey]">
                                        <option value=""></option>
                                        <option ng-repeat="(value, label) in site.lists[criteria[selectedFamily.okey]._byKey[fieldKey].options]" value="{{value}}">{{label}}</option>
                                    </select>
                                </div>
                                <div ng-switch-when="O">
                                    <input class="form-control" ng-model="selectedCriteriaValues[fieldKey]" id="adSearchField-{{fieldKey}}" type="checkbox"
                                        ng-true-value="Y" ng-false-value="N"></input>
                                </div>
                                <div ng-switch-when="N">
                                    <input class="form-control" ng-model="selectedCriteriaValues[fieldKey]" id="adSearchField-{{fieldKey}}" type="number" step="any"></input>
                                </div>
                                <div ng-switch-default>
                                    <input class="form-control" ng-model="selectedCriteriaValues[fieldKey]" id="adSearchField-{{fieldKey}}" type="text"></input>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <button class="btn btn-default btn-block has-spinner btn-custom-block" ng-class='{active:searchIsPerforming}' ng-click="advancedSearch($event)">
                            <span class="spinnerb"><i class="icon-spin icon-refresh"></i></span>
                            <i18n ng-show='!searchIsPerforming'>_SEARCH_SEARCH</i18n>
                            <i18n ng-show='searchIsPerforming'>_SEARCH_CANCEL_SEARCH</i18n>
                        </button>
                        <button class="btn btn-default btn-block btn-custom-block" ng-click="resetCriteria()"><i18n>_SEARCH_ERASE_CRITERIA</i18n></button>
                    </li>
                    <li><label>{{advancedSearchMessage | i18n}}</label></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
