<div class="content" ng-controller="siteListController">
    <div class="panel floating-form">
        <h2><img src="./images/logo-smartgeo.png" alt="Smartgeo mobile"> <small>{{version}}</small></h2>
        <div ng-hide="ready">
            <hr />
            <span class="icon-spinner"></span>
            <i18n>_SITE_LOADING</i18n>
        </div>
        <div ng-show="ready">
            <div ng-repeat="site in sites | filter:isInstalled">
                <hr ng-show="$index==0" />
                <div class="btn-group has-carret" >
                    <a href="#/map/{{site.id}}" class="btn btn-primary">
                        <span class="icon-star pull-left"></span> {{site.label}}
                    </a>
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="#" ng-show="site.installed">
                                <span class="icon-trash"></span>
                                <i18n>_SITE_UNINSTALL</i18n>
                            </a>
                        </li>
                        <li>
                            <a href="#/sites/install/{{site.id}}" ng-show="site.installed">
                                <span class="icon-refresh"></span>
                                <i18n>_SITE_UPDATE</i18n>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div ng-repeat="site in sites | filter:isUnInstalled">
                <hr ng-show="$index==0" />
                <p >
                    <a ng-show="online" href="#/sites/install/{{site.id}}" class="btn btn-default">
                        <span class="icon-star-empty pull-left"></span>
                        <span ng-hide="online" class="icon-ban-circle pull-left"></span>
                        {{site.label}}
                    </a>
                    <a ng-hide="online" href="#/sites/install/{{site.id}}" class="btn btn-default">
                        <span class="icon-ban-circle pull-left"></span>
                        {{site.label}}
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
