<div class="panel-heading consultation-panel-heading  {{asset.onMap ? 'consultationDirectiveOpen' : ''}}" ng-class="{'consultationDirectiveOpen' : asset.onMap}" ng-click="toggleMapVisibility(asset, true)">
    <h4 class="panel-title">
        <span class="pull-right fa fa-caret-{{asset.onMap ? 'up' : 'down'}}"></span>
        <a class="accordion-toggle">{{asset.getLabel()}}</a>
    </h4>
</div>
<div ng-if="asset.onMap" class="panel-collapse">
    <div class="panel-body">
        <ng-include ng-if=" asset.isComplex" src="'javascripts/directives/template/consultation.asset.complex.html'" ng-init="complex = asset ; asset = complex.relatedAssets[complex.root] ; asset.isComplex = false ;"></ng-include>
        <ng-include ng-if="!asset.isComplex" src="'javascripts/directives/template/consultation.asset.simple.html'"></ng-include>
    </div>
</div>
