<div ng-if="rights.history">
  <p ng-if="asset.reports && !asset.reports.length" style="text-align: center;margin-top: 25px;">Aucun historique</p>
  <button ng-if="asset.reports.length" class="btn btn-default" ng-click="asset.hideHistory = !asset.hideHistory">{{asset.hideHistory? 'Afficher' : 'Cacher'}} l'historique</button>
  <span ng-repeat='report in asset.reports' ng-if='!asset.hideHistory'>
    <span style="border-bottom: 3px solid rgb(255, 133, 0);display: block;" ng-click="report.show = !report.show">
      <h5 style="border-bottom:none;margin-top: 25px;margin-bottom: -8px;">CR {{report.id}} <span class="pull-right icon {{report.show ? 'icon-caret-up' : 'icon-caret-down'}}"></span></h5>
      <small>{{site.activities._byId[report.activity].label}} <span ng-if='report.timestamp'>- {{report.timestamp*1000 | date:'dd/MM/yyyy'}}</span></small>
    </span>
    <span style="display:block; border: 1px solid rgb(255, 133, 0);">
      <span ng-show="report.show" bindonce ng-repeat='tab in site.activities._byId[report.activity].tabs | reportTabsFilter:report'>
          <span>
            <h5 style="padding-left: 7px;margin-top: 4px;">{{::tab.label}}</h5>
            <table style="font-size: 0.8em;margin-bottom: 10px;" class="table table-striped">
                <tbody>
                    <tr ng-repeat='field in tab.fields  | reportFieldsFilter:report'>
                        <td >{{::field.label}}</td>
                        <td ng-if="::(!field.options)">{{::(report.fields[field.id] == 'Y' ? 'Oui' : (report.fields[field.id] == 'N' ? 'Non' : report.fields[field.id]))}}</td>
                        <td ng-repeat="(key,option) in field.options" ng-if="option.value == report.fields[field.id]" >
                          <span>{{::option.label}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
          </span>
      </span>
    </span>
  </span>
</div>
