<span ng-show="( filteredOpennedMission = (missions|opennedMissions:asset:site) ).length != 0 " />
<button class="btn btn-block two-lines" ng-show="filteredOpennedMission.length == 1" ng-click="asset.addToMission(filteredOpennedMission[0]);">
    <i class="fa fa-wrench"> </i>
    <i18n>_CONSULTATION_ADD_TO_</i18n>{{filteredOpennedMission[0].activity.label}} n°{{filteredOpennedMission[0].number}}
</button>

<div class="btn-group dropup" style="width:100%; margin-bottom: 5px;" ng-show="filteredOpennedMission.length > 1">
    <button type="button" style="width:100%" class="btn btn-primary dropdown-toggle two-lines" data-toggle="dropdown">
        <i class="fa fa-wrench"> </i>
        <i18n>_CONSULTATION_ADD_TO_</i18n>...
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="mission in filteredOpennedMission">
            <a href="#" ng-click="asset.addToMission(mission)">{{mission.activity.label}} n°{{mission.number}}</a>
        </li>
    </ul>
</div>
