platforms
.metadata
.cordova/hooks
.gradle
node_modules
test
.DS_Store
hooks
plugins/android.json
plugins/ios.json
build
dist
.idea
*.iml
jsconfig.json
package-lock.json
cordova-typings.d.ts
.vscode
www/javascripts/config.js
