[submodule "www"]
	path = www
	url = https://github.com/gismartwaredev/smartgeomobile.git
[submodule "platforms/ios/www"]
	path = platforms/ios/www
	url = https://github.com/gismartwaredev/smartgeomobile.git
