platforms/android/content-shell/src/com/gismartware/mobile/config.properties-e
.DS_Store
.project
.settings
nohup.out
test/coverage/*
web.config
aspnet_client
node_modules/
dist
zip/
docs/ngdocs/
platforms/ios/www/*
!platforms/ios/www/config.xml
!platforms/ios/www/res/*
platforms/ios/platforms/ios/www/*
platforms/android/content-shell/build/
platforms/android/content-shell/assets/gimap-mobile.zip
.metadata/
platforms/ios/platforms/ios/Smartgeo.xcodeproj/project.xcworkspace/xcuserdata/gulian.xcuserdatad/UserInterfaceState.xcuserstate
platforms/ios/platforms/ios/Smartgeo.xcodeproj/project.xcworkspace/xcuserdata/gulian.xcuserdatad/*
platforms/ios/platforms/ios/Smartgeo.xcodeproj/project.xcworkspace/xcshareddata/
npm-debug.log
.idea
