@font-face {
    font-family: 'robotolight';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Roboto-Light-webfont.eot');
    src: url('fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto-Light-webfont.woff') format('woff'), url('fonts/Roboto-Light-webfont.ttf') format('truetype'), url('fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
}

@font-face {
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto-Regular-webfont.woff') format('woff'), url('fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
}

.leaflet-control-scale {
    padding-bottom: 6px;
    padding-left: 30px;
}

.leaflet-control-container {
    z-index: 0;
}

*:not(input) {
    outline: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

html,
body {
    font-family: 'robotoregular',sans-serif;
    background: #525252;
    user-select: none;
}

/** Login */

.login-errorMessage {
    font-size: 0.8em;
}

.rememberMeCheckbox {
    margin-top: 5px;
    margin-bottom: 15px;
}

.loginForm .form-control {
    margin-bottom: 5px;
}

.floating-form {
    width: 300px;
    margin: 100px auto 10px auto;
    padding: 10px;
    text-align: center;
}

@media(max-height:444px) {
    .floating-form {
        margin-top: 10px;
    }
}

@media(max-height:350px) {
    .floating-form img {
        max-height: 20px;
    }

    .floating-form h2 {
        margin: 0;
        padding: 0;
    }

    .floating-form small,
    .floating-form hr {
        display: none;
    }
}

@media(max-height:250px) {
    .bottom-right {
        display: none;
    }
}

.floating-form small {
    float: right;
}

.container_s {
    font-weight: normal!important;
}

.floating-form img {
    max-width: 250px;
}

.floating-form a.btn {
    width: 278px;
}

.floating-form .has-carret a.btn {
    width: 253px;
}

.floating-form .dropdown-menu {
    text-align: left;
}

.bottom-right {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.floating-form > .form-group {
    padding: 0 5px;
    text-align: left;
}

/** Vue principale */

#mainview {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#smartgeo-map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(92,92,92);
    background-image: url(../images/bg-square.png);
}

img.leaflet-tile {
    background-color: white;
}

/** Panneaux de droite */

.consultation-panel {
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    color: gray;
    background-color: #3F3F3F;
}

.panel-heading.consultation-panel-heading{
    border-top: 1px solid rgba(138, 138, 138, 0.54);
}
.assetConsultationDirective:first-of-type .consultation-panel-heading {
    border-top: none;
}

.multiselection-heading{
    border: none ;
    border-bottom:1px solid rgba(138, 138, 138, 0.54);
    border-top:none !important;
}
.multiselection-body{
    padding-bottom : 5px;
}
.consultationDirectiveOpen {
    background-color: #999;
    color: white;
}

.consultationDirectiveOpen .badge{
    background-color: white;
    color: #999;
}

.consultation-multiselection-trash {
    margin-left: 10px;
    color: rgba(255,0,0,0.45);
}

.consultationLoadingBlock {
    width: 0;
    margin: 0 auto;
    padding-top: 100px;
}

.consultationLoadingBlock i {
    margin-left: -35px;
    font-size: 6em;
    color: white;
}

/*.consultationLoadingText {
    position: relative;
    margin: 0 -57px;
    font-size: 1.5em;
    color: white;
}*/

.toggleConsultationPanelButton {
    -webkit-transform: translate3d(0%,0,0);
    transform: translate3d(0%,0,0);
}

.consultation-panel h4.family-title {
    color: white;
}

.consultation-content {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    overflow: auto;
}

.consultation-content h5 {
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid gray;
    color: black;
}

.consultation-content button.closer {
    position: fixed;
    top: 5px;
    right: 5px;
    border: 1px solid #3F3F3F;
}

.consultation-panel.open .consultation-content {
    display: block;
}

.toggleConsultationPanelButton {
    display: block;
    z-index: 100000;
    position: absolute;
    right: 0;
    bottom: 10px;
    left: -30px;
    width: 30px;
    height: 55px;
    border: 1px solid #858585;
    border-right: none;
    border-radius: 8px 0 0 8px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    background: #3F3F3F;
    box-shadow: 1px 0 5px 1px rgba(0,0,0,0.10);
}

.toggleConsultationPanelButton span {
    display: inline-block;
    margin-top: 12px;
    margin-left: 7px;
}

.consultation-btn {
    width: 40px;
    height: 40px;
    margin: 0 8px 10px 0;
    border: none;
    border-color: #fd9122;
    border-radius: 40px;
    font-size: 2em;
    line-height: 35px;
    color: #FFF;
    background-color: #fd9122;
}

.btn-group {
    vertical-align: baseline;
}

.consultation-multiselection-assets-list {
    margin-bottom: 10px;
}

.consultation-small-table {
    font-size: 0.75em;
}

.select2-container {
    width: 90%;
    margin: 0 5%;
}

.panel-body .select2-container {
    width: 100%;
    margin: 0;
}

.floating-form {
    width: 300px;
    margin: 100px auto 10px auto;
    padding: 10px;
    text-align: center;
}

@media(max-height:444px) {
    .floating-form {
        margin-top: 10px;
    }
}

@media(max-height:350px) {
    .floating-form img {
        max-height: 20px;
    }

    .floating-form h2 {
        margin: 0;
        padding: 0;
    }

    .floating-form small,
    .floating-form hr {
        display: none;
    }
}

@media(max-height:250px) {
    .bottom-right {
        display: none;
    }
}

.floating-form small {
    float: right;
}

.container_s {
    font-weight: normal!important;
}

.floating-form img {
    max-width: 250px;
}

.floating-form a.btn {
    width: 278px;
}

.floating-form .has-carret a.btn {
    width: 253px;
}

.floating-form .dropdown-menu {
    text-align: left;
}

.bottom-right {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.big-button {
    width: 100%;
}

/*Customization des boutons */

.btn-primary {
    border-color: #fd9122;
    color: #FFF;
    background-color: #fd9122;
}

/** Eléments actifs */

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #fd9122;
}

.select2-results .select2-highlighted {
    color: #fff;
    background-color: #fd9122;
}

select:hover option:hover {
    color: #fff;
    background-color: #fd9122!important;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    z-index: 2;
    border-color: #fd9122;
    color: #ffffff;
    background-color: #fd9122;
}

.list-group-item.active label {
    color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #fd9122;
    color: #FFF;
    background-color: #fd9122;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #EBA800;
    color: #FFF;
    background-color: #FFC32A;
}

.mp-menu ul li > a,
.mp-menu h2 {
    text-decoration: none;
    outline: none;
    color: #f7f7f7;
}

.mp-menu h2 {
    text-align: center;
}

.mp-menu ul li > a span.fa {
    text-decoration: none;
    outline: none;
    color: #fd9122;
}

.mp-menu label {
    color: white;
}

.logo_gi {
    width: 70%;
    margin-right: 15px;
    margin-bottom: -20px;
    padding: 10px 30px 20px;
    border-bottom: 1px solid #fd9122;
}

#trigger,
#trigger:hover {
    display: block;
    z-index: 10;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 30px;
    height: 55px;
    border: 1px solid #858585;
    border-left: none;
    border-radius: 0 8px 8px 0;
    text-decoration: none;
    font-size: 35px;
    color: white;
    background: #3F3F3F;
    box-shadow: 1px 0 5px 1px rgba(0,0,0,0.10);
}

#trigger span {
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
}

/**
 * Saisie de compte-rendu
 */

.report label {
    display: inline;
}

.reportForm {
    margin-bottom: 400px;
    padding: 15px;
}
.reportForm .needPadding{
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.reportForm .glyphicon-chevron-up,
.reportForm .glyphicon-chevron-down {
    color: #fd9122;
}

.reportForm h3 {
    color: white;
}

.reportForm .isconsequence {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid gray;
}

.reportForm b.ro-label {
    display: inline-block;
    min-width: 300px;
}

label.fullwidth {
    display: inline-block;
    width: 100%;
}

label.prettycheckbox input,
.list-group-item input {
    display: none;
}

label.prettycheckbox,
.list-group-item label {
    clear: both;
    padding: 6px 12px;
    vertical-align: middle;
    color: #555555;
}

label.prettycheckbox {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.428571429;
    vertical-align: middle;
    color: #555555;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

label.prettycheckbox.checked {
    border-radius: 3px;
}

label.prettycheckbox.checked .yes,
label.prettycheckbox .no,
.list-group-item .checked .yes,
.list-group-item .no {
    display: inline;
    margin-top: 3px;
    margin-right: 10px;
}

label.prettycheckbox.checked .yes,
.list-group-item .checked .yes {
    margin-right: 8px;
}

label.prettycheckbox.checked .no,
label.prettycheckbox .yes,
.list-group-item .checked .no,
.list-group-item .yes {
    display: none;
}

.ng-invalid > .help-block,
.ng-invalid > .control-label {
    color: #b94a48;
}

.ng-invalid > .form-control {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.ng-invalid > .form-control:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) ,0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) ,0 0 6px #d59392;
}

ul.ged-gallery {
    padding: 0;
}

ul.ged-gallery li {
    float: left;
    width: 33%;
    margin-right: 0.33%;
    margin-bottom: 3px;
    padding: 0;
    list-style: none;
}

ul.ged-gallery li img {
    width: 100%;
}

.white {
    color: white ! important ; /* Désolé, pris par le temps */
}

.spinnerb {
    display: inline-block;
    width: 0;
    opacity: 0;
}

.has-spinner.active {
    cursor: progress;
}

.has-spinner.active .spinnerb {
    width: auto; /* This doesn't work, just fix for unkown width elements */
    opacity: 1;
}

.has-spinner.btn-mini.active .spinnerb {
    width: 10px;
}

.has-spinner.btn-small.active .spinnerb {
    width: 13px;
}

.has-spinner.btn.active .spinnerb {
    width: 16px;
}

.has-spinner.btn-large.active .spinnerb {
    width: 19px;
}

/** Eléments de carte */

.gi-compass {
    width: 32px!important;
    height: 32px!important;
    margin-top: -16px!important;
    margin-left: -16px!important;
}

.gi-compass > div {
    width: 32px;
    height: 32px;
    background: url(../images/compass.png);
}

.leaflet-bottom.leaflet-left {
    z-index: 0;
}

.select2-search-choice-close {
    padding: 0 !important; /* Désolé, pris par le temps */
    box-shadow: none!important; /* Désolé, pris par le temps */
    transition: none!important; /* Désolé, pris par le temps */
}

.select2-choice:hover,
.select2-choice {
    background-color: #fff;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#eee), color-stop(0.5,#fff) )!important; /* Désolé, pris par le temps */
    background-image: -webkit-linear-gradient(center bottom,#eee 0,#fff 50%) !important; /* Désolé, pris par le temps */
    background-image: -moz-linear-gradient(center bottom,#eee 0,#fff 50%) !important; /* Désolé, pris par le temps */
    background-image: linear-gradient(top,#fff 0,#eee 50%) !important; /* Désolé, pris par le temps */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0) !important; /* Désolé, pris par le temps */
}

.leaflet-control .fa {
    font-size: 30px;
    color: #fd9122;
}

/** Planning */

.mission-label {
    display: block;
    width: 73%;
    margin-left: -7px;
    font-size: 12px;
    font-weight: 400;
}

.custom-progress {
    border: 1px solid rgb(255,133,0);
}

.mission-assets-count-badge {
    margin-top: -15px;
    margin-right: -10px;
    font-size: 11px;
    font-weight: 200;
}

/*.panel:empty{
    display: none;
}
*/
.consultation-multiselection-okey-group {
    margin-bottom: 5px;
    padding: 1px 10px 1px 10px;
    background: rgba(0,0,0,0.18);
    border: 1px solid rgba(255, 255, 255, 0.54);
    border-radius: 3px;
}

.panel-heading a {
    display: block;
    width: 100%;
}

.panel-default > .panel-heading.report-heading {
    background-color: #d6d6d6;
}

.panel-heading.emergency {
    color: white;
    background-color: rgb(189,76,76);
}

.panel-heading.emergency .text-danger {
    color: white;
}

.btn.two-lines ,
.dropdown-menu > li > a {
    font-size: 0.9em;
    white-space: initial;
}

#dayToDisplay {
    width: 50px;
    height: 30px;
    margin-left: -100px;
    padding-right: 15px;
    padding-left: 150px;
    border: none;
    outline: none;
    background: transparent;
}

.select2-results .select2-result-label {
    padding: 13px 7px 12px;
}

.select2-container .select2-choice abbr {
    margin-top: -10px;
    background: none;
}

.select2-container .select2-choice abbr:after {
    font-family:'FontAwesome';
    content: "\f00d";
    top: auto;
    font-size: 20px;
    color: gray;
    color: black;
}


.angel {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    background-color: gainsboro;
    -webkit-transition:  margin-top 2s , opacity 2s;
}

.ascending {
    margin-top: -250px;
    opacity: 0;
}

.site-name{
    margin-top: 35px;
margin-bottom: 20px;
}


.siteRemoveSpinner{
    font-size: 20px;
    margin-bottom: 15px;
}

.loginForm hr {
margin-top: 30px;
margin-bottom: 15px;
}


.NON_SELECTED_NIGHTTOUR{
    background-image: url(../images/NON_SELECTED_NIGHTTOUR.png);
}

.chosen-container-single .chosen-single{
    height: 35px;
    line-height: 35px;
}

.chosen-container .chosen-results li {
        height: 35px;
    line-height: 28px;
}
.chosen-container-single .chosen-single abbr {
top: 12px;
-webkit-transform: scale(2);
transform: scale(2);
}
.chosen-container .chosen-results li em {
    color: #fd9122;
}
.intent{
     width:0;
     margin:0 auto;
     padding-top:150px;
     font-size:5em;
     color:white;
}
.intent i{
margin-left: -30px;
}
