<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.gismartware.mobile.cordova.plugins"
    version="1.0.0">

  <name>GiSmartware cordova plugin, with some useful functions.</name>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <!-- android -->
  <platform name="android">
    <js-module src="www/gitools.js" name="gitools">
      <clobbers target="gitools" />
    </js-module>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="gitools">
        <param name="android-package" value="com.gismartware.mobile.cordova.plugins.GITools"/>
      </feature>
    </config-file>

    <source-file src="src/android/GITools.java" target-dir="src/com/gismartware/mobile/cordova/plugins" />
  </platform>

  <!-- ios -->
  <platform name="ios">
    <js-module src="www/gitools.js" name="gitools">
      <clobbers target="gitools" />
    </js-module>

    <config-file target="config.xml" parent="/*">
      <feature name="gitools">
        <param name="ios-package" value="GITools"/>
      </feature>
    </config-file>
    
    <header-file src="src/ios/GITools.h" />
    <source-file src="src/ios/GITools.m" />

    <framework src="MapKit.framework" />
    <framework src="CoreLocation.framework" />
  </platform>

  <!-- windows -->
  <platform name="windows">
    <js-module src="www/gitools-win.js" name="gitools">
      <clobbers target="gitools" />
    </js-module>     
  </platform>

  <!-- wp8 -->
  <platform name="wp8">
    <js-module src="www/gitools-win.js" name="gitools">
      <clobbers target="gitools" />
    </js-module>     
  </platform>
</plugin>