<div bindonce ng-repeat='tab in site.metamodel[node.okey].tabs' class="panel panel-default" style="width:90%;margin: 0 5% 5% 5%;">
    <div class="panel-heading" style="padding: 10px 10px;" ng-click="toggleCollapse($event,tab, site.metamodel[node.okey].tabs)">
        <h3 class="panel-title" style="font-size: 1.35em">{{tab.label}}</h3>
    </div>
    <div ng-if='tab.visible  || (site.metamodel[node.okey].tabs.length == 1)'>
        <div class="panel-body" style="padding: 10px 0px;">
            <div ng-repeat='field in tab.fields'>
                <div bo-if="!field.readonly" ng-switch on="field.type">
                    <label style="color:black; margin-top:10px;" for="" bo-text="field.label"></label>
                    <span ng-switch-when="O">
                        <input class="form-control" type="checkbox" ng-model='node.fields[field.key]'></input>
                    </span>
                    <span ng-switch-when="L">
                        <select class="form-control" ng-model="node.fields[field.key]" ng-options="c.value as c.label for c in  ( (site.lists[field.options] | objectToArray) | orderBy:'label')">
                        </select>
                    </span>
                    <span ng-switch-when="D">
                        <input class="form-control" type="date" ng-model='node.fields[field.key]'></input>
                    </span>
                    <span ng-switch-when="N">
                        <input class="form-control" type="number" ng-model='node.fields[field.key]'></input>
                    </span>
                    <span ng-switch-default>
                        <input class="form-control" type="text" ng-model='node.fields[field.key]'></input>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>



<img ng-if="node.photo" style="width: 90%;margin: 0 5% 0 5%;" ng-src="{{node.photo}}" alt="" />
<button ng-if="node.photo" class="btn btn-default btn-danger btn-block" style="width: 90%;margin: 0 5% 5% 5%;" ng-click="node.photo = undefined">
    <span class="fa fa-trash" style="text-align: center;display: block;font-size: 2em;"></span>
</button>

<input ng-if="site.metamodel[node.okey].is_graphical" class="form-control" style="margin:margin: 0 5% 5% 5%;" type="hidden" ng-model='node.geometry' placeholder="Géometrie" disabled=true></input>

