<div style="margin-left:15px">
    <label style="padding: 13px 0;width: 100%;border-bottom: 1px solid rgb(90, 90, 90);border-left: 1px solid rgb(90, 90, 90);margin:0;">
        <label ng-click="node.toggleForm()">
            <span style="margin-left:-9px" class="icon {{node.formVisible ? 'icon-caret-up' : 'icon-caret-down'}}"></span>
            <span>{{node.fields[site.metamodel[node.okey].ukey]}}</span>
            <span ng-if="site.metamodel[node.okey].is_graphical" style='display: inline-block;' class="label label-{{node.geometry ? 'success' : 'danger' }}"><span class="icon icon-map-marker"></span></span>
        </label>
        <div class="pull-right" style="padding-right:10px">
            <button ng-if='site.dependancies[node.okey]' class='btn btn-default btn-xs' ng-click="node.add()">
                <span class="icon icon-plus"></span> {{site.metamodel[site.dependancies[node.okey]].label}}
            </button>
            <button ng-if='node.father' class='btn btn-default btn-xs' ng-click="node.duplicate()" >
                <span class="icon icon-copy"></span>
            </button>
            <button ng-if='node.father' class='btn btn-danger  btn-xs' ng-click="node.delete()">
                <span class="icon icon-trash"></span>
            </button>
        </div>
    </label>

    <div ng-show='node.formVisible'
        style='padding-bottom: 15px;font-size: 80%;border-bottom: 1px solid rgb(90, 90, 90);border-left: 1px solid rgb(90, 90, 90);margin:0;padding-top: 1px;background-color: rgba(0, 0, 0, 0.25);'>
        <div ng-include="'partials/census-node-form.html'"></div>
    </div>

    <span ng-repeat="node in node.children">
        <div ng-include="'partials/censusDirectiveTemplate.html'"></div>
    </span>

    <button ng-if='!node.father' class='btn btn-block btn-primary' ng-click="save()" style="margin: 10px auto;width: 95%;">
        <span class="icon icon-save"></span> Enregistrer
    </button>

</div>
