<label for="">
    {{node.metamodel.label}}:{{node.uuid}}
    <button                     class='btn btn-link' ng-click="root.addNode(node.uuid)"       >+ </button>
    <button ng-if='node.father' class='btn btn-link' ng-click="root.duplicateNode(node.uuid)" >cp</button>
    <button ng-if='node.father' class='btn btn-link' ng-click="root.deleteNode(node.uuid)"    >- </button>
</label>
<span style="margin-left:15px" ng-repeat="node in node.children">
    <div ng-include="'partials/census-node.html'"></div>
</span>
