<div id="left_panel_census" ng-controller="CensusController as censusController">

    <div ng-if='censusController.okey' style="margin-left:-15px;">
        <census
            ng-if='censusController.okey'
            okey='censusController.okey'
            onsave='censusController.cancel()'
            oncancel='censusController.cancel()'
            classindex='censusController.classindex'>
        </census>
    </div>

    <div ng-if='!censusController.okey'>

        <div style="margin:10px" class="panel panel-warning">
            <div class="panel-heading">
                <i class="fa fa-info-circle"> </i><i18n>_CENSUS_INFORMATION_</i18n>
            </div>
            <div class="panel-body"><i18n>_CENSUS_CHOOSE_OBJECT_</i18n></div>
        </div>
        <ul>
            <li ng-repeat="(modelOkey, model) in site.metamodel" ng-if="model.is_census">
                <a ng-click='censusController.startCensus(modelOkey)'>
                    <img ng-if= 'site.symbology[modelOkey+censusController.classindex]'
                        ng-src='{{site.symbology[modelOkey+censusController.classindex].style.symbol.icon}}' alt="" />
                    <img ng-if='!site.symbology[modelOkey+censusController.classindex]'
                        ng-src='{{site.symbology[site.dependancies[modelOkey]+censusController.classindex].style.symbol.icon}}' alt="" />
                    <img ng-if='!site.symbology[site.dependancies[modelOkey]+censusController.classindex]'
                        ng-src='{{site.symbology[site.dependancies[site.symbology[site.dependancies[modelOkey]+censusController.classindex]]+censusController.classindex].style.symbol.icon}}' alt="" />
                    <label>{{model.label}}</label>
                </a>
            </li>
        </ul>
    </div>
</div>
