<div ng-controller="censusController">

    <div  ng-if='okey' style="margin-left:-15px;">
        <census ui-if='okey' okey='okey' site='site' map='map' onsave='cancel()'  oncancel='cancel()' classindex='classindex'></census>
    </div>

    <ul ng-if='!okey'>
        <li ng-repeat="(modelOkey, model) in site.metamodel">
            <a ng-click='startCensus(modelOkey)' ng-if="model.is_census">
                <img ng-if= 'site.symbology[modelOkey+classindex]'
                    ng-src='{{site.symbology[modelOkey+classindex].style.symbol.icon}}' alt="" />
                <img ng-if='!site.symbology[modelOkey+classindex]'
                    ng-src='{{site.symbology[site.dependancies[modelOkey]+classindex].style.symbol.icon}}' alt="" />
                <img ng-if='!site.symbology[site.dependancies[modelOkey]+classindex]'
                    ng-src='{{site.symbology[site.dependancies[site.symbology[site.dependancies[modelOkey]+classindex]]+classindex].style.symbol.icon}}' alt="" />
                {{model.label}}
            </a>
        </li>
    </ul>
<!--
    <button ng-if='okey' class='btn btn-block btn-danger' ng-click="cancel()" style="margin: 10px auto;width: 95%;">
        <span class="icon icon-remove"></span> Annuler
    </button>
 -->
</div>
