<div id="left_panel_layers" ng-controller="LayersController as layersController">
    <div class="list-group" ng-repeat="group in layersController.groups">
        <h4 class="list-group-item active">
            <label class="fullwidth" ng-class="{checked: !!group.status}">
                <span class="fa fa-check-square yes" ></span>
                <span class="fa fa-square no" ></span>
                <input
                        type="checkbox"
                        ng-model="group.status"
                        ng-change="layersController.updateGroups(group)"></input>
                {{::group.label}}
            </label>
        </h4>
        <div class="list-group-item" ng-repeat="layer in group.layers | isGraphical">
            <label class="fullwidth" ng-class="{checked: !!layersController.layers[layer.okey].status}">
                <span class="fa fa-check-square yes" ></span>
                <span class="fa fa-square no" ></span>
                <input  type="checkbox"
                        ng-model="layersController.layers[layer.okey].status"
                        ng-change="layersController.refreshView()"></input>
                <img ng-if= 'layersController.symbology[layer.okey+"0"]'
                    ng-src='{{layersController.symbology[layer.okey+"0"].style.symbol.icon}}' alt="" />
                {{::layer.label}}
            </label>
        </div>
    </div>
</div>