<div ng-init="initialize()" class="container" ng-controller="authController">
    <form ng-submit="login()" class="panel floating-form">
        <h2><img src="./images/logo-smartgeo.png" alt="Smartgeo mobile"> <small>{{version}}</small></h2>
        <hr />
        <p><input class="form-control" type='text' ng-model="gimapServer" ng-show='firstAuth' placeholder='Adresse du serveur' /></p>
        <p><input class="form-control" type='text' ng-model="user.username" placeholder='Utilisateur' /></p>
        <p><input class="form-control" type='password' ng-model="user.password" placeholder='Mot de passe'/></p>
        <label><i18n>_AUTH_REMEMBER_PASSWORD_</i18n> <input type="checkbox" ng-model="user.rememberme"></label>
        <hr>
        <button
            class       = "btn btn-lg btn-primary btn-block has-spinner"
            ng-disabled = "(!gimapServer.length || !user.username.length || !user.password.length) || loginInProgress"><span class="spinnerb"><i class="icon-spin icon-refresh"></i></span>
            <i18n>_AUTH_LOG_MESSAGE_LOGIN_</i18n>
        </button>
    </form>

    <div  class="btn-group bottom-right dropup">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="icon icon-gears"></span> <i18n>_AUTH_SETTINGS_</i18n> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
            <li ng-show="gimapServer.length > 0">
                <a id="changeGimapUrl" ng-click="reset()"><i18n>_AUTH_CHANGE_GIMAP_URL_</i18n> <small>({{gimapServer | urlShortener}})</small></a></li>
            <li><a ng-click="forgetPassword()"><i18n>_AUTH_FORGET_PASSWORD_</i18n></a></li>
        </ul>
    </div>

</div>
