<div ng-controller="menuController" id="left_panel" ng-init='initialize()'>
    <div id="left_panel_content" ng-show="display">
        <h2 id="left_panel_header" ng-click='home()' class="{{homeIsDisplayed ? 'onHome' : 'notOnHome'}}">
            <span class='left_panel_back_menu'>
                <i class="fa fa-arrow-circle-left"></i>
            </span>
            <img  src="images/logo-smartgeo-white.png" alt="Smartgeo Mobile"></img> <span id='smartgeo-version'>{{version}}</span>
        </h2>
        <ul id="left_panel_menu_items">
            <div ng-repeat="item in menuItems">
                <li ng-if="rights[item.id] && item.displayMenuItem" ng-click='execute(item)' >
                        <span ng-class="item.icon"></span> {{item.label}}
                        <!-- TODO(@gulian): trouver mieux -->
                        <span class="badge" ng-if="item.badge == 'toBeSync' && toBeSyncLength() > 0">{{toBeSyncLength()}}</span>
                </li>
                <div ng-if="item.forceLoadDOM" ng-show="item.displayItemContent" ng-include="item.template"></div>
                <div ng-if="item.displayItemContent && !item.forceLoadDOM" ng-include="item.template"></div>
            </div>
        </ul>
        <ul id="left_panel_bottom_fixed">
             <li ng-repeat="item in bottomMenuItems" ng-if="rights[item.id] && item.displayMenuItem" ng-click='execute(item)' >
                <span ng-class="item.icon"></span>
            </li>
        </ul>
    </div>

    <div id="left_panel_toggle_bar">
        <div id="left_panel_toggle_shadow" ng-show="display" ng-click="toggleDisplay();"></div>
        <a id="left_panel_toggle_button"  ng-click="toggleDisplay();" >
            <span class="fa fa-ellipsis-v"></span>
        </a>
    </div>
</div>
