<div ng-controller="menuController" id="left_panel" ng-init='initialize()'>
    <div id="left_panel_content" ng-show="display">
        <h2 id="left_panel_header">
            <img  src="images/logo-smartgeo-white.png" alt="Smartgeo Mobile"></img>
            <span id='smartgeo-version'>{{version}}</span>
        </h2>
        <ul>
            <div ng-repeat="item in menuItems">
                <li ng-show="item.displayMenuItem">
                    <span ng-click='execute(item)' >
                        <span ng-class="item.icon"></span>
                        {{item.label}}
                    </span>
                </li>
                <li ng-show="item.displayItemContent" >
                    <span ng-click='home()'>RETOUR</span>
                </li>
                <div ng-show="item.displayItemContent" ng-include="item.template"></div>
            </div>
        </ul>

        <div id="left_panel_bottom_fixed">
                <ul>
                     <li ng-repeat="item in bottomMenuItems" ng-show="item.displayMenuItem">
                        <span ng-click='execute(item)' >
                            <span ng-class="item.icon"></span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div id="left_panel_toggle_bar">
            <div id="left_panel_toggle_shadow" ng-show="display" ng-click="display = !display"></div>
            <a id="left_panel_toggle_button"  ng-click="display = !display" >
                <span class="icon icon-ellipsis-vertical"></span>
            </a>
        </div>
    </div>
</div>