<div ng-init='initialize()' ng-controller="nightTourController" class="consultation-panel" ng-class="state" id="consultation-panel">
    <div class="toggleConsultationPanelButton" ng-show='nightTourInProgress' ng-click="togglePanel()">
        <span class="fa fa-lightbulb-o"></span>
    </div>

    <div class="consultation-content">
        <div class="panel panel-default" style='margin: 10px auto;' >
              <div class="panel-heading">
                <h3 class="panel-title">
                  <span class="mission-label">Tournée n°{{mission.number}}</span>
                  <span ng-show="!mission.isLoading" class="badge pull-right mission-assets-count-badge" ng-switch on="mission.assets.length">
                      <span ng-switch-when="0"><i18n>_PLANNING_FINISH_</i18n></span>
                      <span ng-switch-default>{{mission.done.length}} / {{mission.done.length + mission.assets.length}}</span>
                  </span>
                  <i ng-show="mission.isLoading" class="fa fa-refresh fa-spin pull-right"></i>
                </h3>
              </div>
              <div class="custom-progress" style='width:{{100 *mission.done.length / (mission.done.length + mission.assets.length) }}%;'></div>
              <div class="panel-body"  ng-show='mission.openned || false'>

                <p>
                  <i class="fa fa-clock-o"></i> <i18n>_PLANNING_BEFORE_</i18n> {{mission.end | sanitizeDate | date:"h'h'mm le dd/MM/yy" }}
                </p>
                <p ng-show='mission.city'>
                  <i class="fa fa-map-marker"></i> {{mission.city}}
                </p>
                <p ng-show='mission.address'>
                  <i class="fa fa-crosshairs"></i> {{mission.address}}
                </p>
                <p ng-click="locateMission()" ng-show='!mission.objectNotFound'>
                  <i class="fa fa-search"></i>  <i18n>_PLANNING_LOCATE_</i18n>
                </p>
                <p class="text-danger" ng-show='mission.objectNotFound'>
                  <i class="fa fa-exclamation-triangle"></i> <i18n>_PLANNING_OBJECT_NOT_FOUND_</i18n>
                </p>

                <!-- <button class="btn btn-block" ng-click="whereIAm()" ng-disabled='isFollowingMe'><i class="fa fa-map-marker"></i> Ma position</button> -->
                <button class="btn btn-block" style="margin-bottom: 5px;" ng-class="{'btn-primary':isFollowingMe}" ng-click="isFollowingMe =! isFollowingMe">
                  <i class="fa fa-location-arrow"></i> Suivi de position {{isFollowingMe ? 'activé' : ''}}
                </button>
                <!-- <hr> -->
<!--                 <button type="button" ng-show='!nightTourRecording' class="btn btn-default btn-lg" ng-click='resumeNightTour()'><i class="fa fa-play"></i></button>
                <button type="button" ng-show='nightTourRecording' class="btn btn-default btn-lg" ng-click='pauseNightTour()'><i class="fa fa-pause"></i></button> -->
                <button type="button" style="width:49%;" class="btn btn-default" ng-click='stopNightTour()'  ><i class="fa fa-stop" > </i> Arrêter </button>
                <button type="button" style="width:49%;" class="btn btn-default" ng-click='closeNightTour()' ><i class="fa fa-check"> </i> Clôturer</button>

                <!-- <div ng-show='nightTourRecording'>
                  <h4 style="text-align: center;margin-top: 25px;">
                    <i style='color:red' class="fa fa-circle"></i> Tournée en cours
                  </h4>
                </div>
                <div ng-show='!nightTourRecording'>
                  <h4 style="text-align: center;margin-top: 25px;">
                    <i class="fa fa-pause"></i> Tournée en pause
                  </h4>
                </div>
 -->
              </div>
        </div>
    </div>

</div>
