<div id="left_panel_parameters" ng-controller="ParametersController as parametersController">
    <button class="btn btn-primary btn-small btn-block" ng-click="parametersController.confirmUpdate()">
        <span class="icon-refresh"></span> <i18n>_SYNC_UPDATE</i18n> {{::site.label}}
    </button>
    <button class="btn btn-primary btn-small btn-block" ng-click="parametersController.confirmRemove()">
        <span class="icon-refresh"></span> <i18n>_SYNC_UNINSTALL</i18n> {{::site.label}}
    </button>
</div>
