<div id="left_panel_planning" ng-controller="PlanningController as planningController">
    <p id='refreshPlanning'  ng-click="planningController.synchronize()">
         <i18n>_PLANNING_REFRESHED_</i18n> {{planningController.lastUpdate | timeago}}
         <button class="btn btn-link"  style="margin:-10px; color:orange"><i class="fa fa-refresh" style="margin:0"></i></button>
    </p>

    <div class="mission_group" ng-show="planningController.lateMissionsLength>0">
      <h5 class="planning_section_header" ng-click='planningController.hideLate = !planningController.hideLate'>
        <span>En retard ({{planningController.lateMissionsLength}})</span><small>{{planningController.hideLate ? 'afficher' : 'masquer'}} <span class="fa fa-caret-{{planningController.hideLate ? 'down' : 'up'}}"></span></small>
      </h5>
      <div ng-repeat="mission in (planningController.missions|lateMissions) track by mission.id" ng-hide="planningController.hideLate">
        <ng-include src="'partials/mission.html'"></ng-include>
      </div>
    </div>

    <div class="mission_group" ng-show="planningController.todayMissionsLength>0">
      <h5 class="planning_section_header" ng-click='planningController.hideToday = !planningController.hideToday'>
        <span>Aujourd'hui ({{planningController.todayMissionsLength}})</span><small>{{planningController.hideToday ? 'afficher' : 'masquer'}} <span class="fa fa-caret-{{planningController.hideToday ? 'down' : 'up'}}"></span></small>
      </h5>
      <div ng-repeat="(key,mission) in (planningController.missions|todayMissions)" ng-hide="planningController.hideToday">
        <ng-include src="'partials/mission.html'"></ng-include>
      </div>
    </div>

    <div class='nextDaysMissions mission_group' ng-repeat='(day,missions_) in planningController.nextMissions'>
      <h5 class="planning_section_header" ng-click='missions_.hide = !missions_.hide'>
        <span>{{day|date:'EEE d MMM'}} ({{missions_.length}})</span><small>{{missions_.hide ? 'afficher' : 'masquer'}} <span class="fa fa-caret-{{missions_.hide ? 'down' : 'up'}}"></span></small>
      </h5>
      <div ng-repeat="(key,mission) in (planningController.missions | specificDayMissions:day)" ng-hide="missions_.hide">
        <ng-include src="'partials/mission.html'"></ng-include>
      </div>
    </div>

    <div class='mission_group' ng-click='planningController.findNextMissions()' ng-if="planningController.currentNextDay <= planningController.maxBeginDate">
      <h5 class="planning_section_header">
        <span>Afficher plus</span><small><span class="fa fa-plus"></span></small>
      </h5>
    </div>

    <div class='mission_group doneMission' ng-if="planningController.currentNextDay>planningController.maxBeginDate">
      <h5 class="planning_section_header">
        <span>Plus de mission à afficher</span>
      </h5>
    </div>

    <div class="mission_group doneMission" ng-if="planningController.doneMissionsLength>0">
      <h5 class="planning_section_header" ng-click='planningController.showDone = !planningController.showDone'>
        <span>Terminés ({{planningController.doneMissionsLength}})</span><small>{{planningController.showDone ? 'masquer' : 'afficher'}} <span class="fa fa-caret-{{planningController.showDone ? 'down' : 'up'}}"></span></small>
      </h5>
        <table class="table table-condensed table-hover doneTable" ng-if="planningController.showDone">
            <tr>
                <th>Mission</th>
                <th>CR saisis</th>
            </tr>
            <tr ng-repeat="(key,mission) in (planningController.missions|doneMissions)">
                <td ng-if=" mission.activity">
                    {{mission.activity.label}} n°{{mission.number}}
                </td>
                <td ng-if="!mission.activity">
                    Appel n°{{mission.number}} : {{mission.reason}} {{mission.cause?'('+mission.cause+')':''}}
                </td>
                <td>{{mission.done.length}}</td>
            </tr>
        </table>
    </div>

</div>
