<div ng-controller="synchronizationMenuController" ng-init="initialize()">
    <ul>
        <li ng-show="toBeSyncLenght() > 0;">
            <h2 style='padding-left: 1em;font-size:1em;' href="#" ng-click='syncAll()'>
                <button class="btn btn-primary">
                    <span class="icon-refresh"></span>
                    <i18n>_SYNC_SYNC_EVERYTHING</i18n>
                </button>
            </h2>
        </li>

        <li class="container">
            <div class="list-group" style="margin-bottom:0;">
                <div class="list-group-item" ng-repeat="report in (reports | toBeSynchronized) track by report.uuid " ng-hide="report.hide">
                    <span class="label label-success pull-right" ng-show="report.synced">Synchronisé</span>
                    <div class="btn-group pull-right" ng-show="!report.synced">
                        <button ng-show='!report.syncInProgress' type="button" class="btn btn-primary  btn-s dropdown-toggle" data-toggle="dropdown">
                            <span class="icon icon-gears"></span> <span  ng-show='!report.syncInProgress' class="caret"></span>
                        </button>
                        <span ng-show="report.syncInProgress" style="padding: 0px 1px;" us-spinner="{radius:5, width: 2, length: 5, hwaccel:true, color:'orange'}"></span>
                        <ul  ng-show='!report.syncInProgress' class="dropdown-menu" role="menu">
                            <li>
                                <button class="btn-link btn" style="width: 100%;margin: 0;color: #d58512;" ng-click='sync(report)'><span class="icon icon-gears"></span> <i18n>_SYNC_SYNC</i18n></button>
                            </li>
                            <li>
                                <button class="btn-link btn" style="width: 100%;margin: 0;color: #d58512;" ng-click='__delete(report)'><span class="icon icon-remove"></span> <i18n>_SYNC_DELETE</i18n></button>
                            </li>
                        </ul>
                    </div>
                    {{site.activities._byId[report.activity].label}}<br/>
                    <small>{{report.timestamp | date:'HH:mm dd/MM'}}</small>
                </div>

                <div style="padding-bottom: 25px;" class="list-group-item" ng-repeat="object in (census  | toBeSynchronized) track by object.uuid" ng-hide="object.hide">
                    <span class="label label-success pull-right" ng-show="object.synced">Synchronisé</span>
                    <div class="btn-group pull-right" ng-show="!object.synced">
                        <button ng-show='!object.syncInProgress' type="button" class="btn btn-primary  btn-s dropdown-toggle" data-toggle="dropdown">
                            <span class="icon icon-gears"></span> <span  ng-show='!object.syncInProgress' class="caret"></span>
                        </button>
                        <span ng-show="object.syncInProgress" style="padding: 0px 1px;" us-spinner="{radius:5, width: 2, length: 5, hwaccel:true, color:'orange'}"></span>
                        <ul  ng-show='!object.syncInProgress' class="dropdown-menu" role="menu">
                            <li>
                                <button class="btn-link btn" style="width: 100%;margin: 0;color: #d58512;" ng-click='syncCensus(object)'><span class="icon icon-gears"></span> <i18n>_SYNC_SYNC</i18n></button>
                            </li>
                            <li>
                                <button class="btn-link btn" style="width: 100%;margin: 0;color: #d58512;" ng-click='__deleteCensus(object)'><span class="icon icon-remove"></span> <i18n>_SYNC_DELETE</i18n></button>
                            </li>
                        </ul>
                    </div>
                    {{object.fields[site.metamodel[object.okey].ukey]}}
                </div>
            </div>
        </li>
        <label style="margin:5%;" ng-click='displaySync = !displaySync'> <i class="fa" ng-class="displaySync ? 'fa-check-circle-o' : 'fa-circle-o' " ></i>  Afficher les comptes-rendus et objets synchronisés</label>
        <li ng-if="displaySync" class="container">
            <div class="list-group" style="margin-bottom:0;">
                <div class="list-group-item" ng-repeat="report in (reports | synchronized) track by report.uuid " ng-hide="report.hide">
                    <div class="btn-group pull-right" ng-show="!report.synced">
                        <button ng-show='!report.syncInProgress' type="button" class="btn btn-primary  btn-s dropdown-toggle" data-toggle="dropdown">
                            <span class="icon icon-gears"></span> <span  ng-show='!report.syncInProgress' class="caret"></span>
                        </button>
                        <span ng-show="report.syncInProgress" style="padding: 0px 1px;" us-spinner="{radius:5, width: 2, length: 5, hwaccel:true, color:'orange'}"></span>
                        <ul  ng-show='!report.syncInProgress' class="dropdown-menu" role="menu">
                            <li>
                                <button class="btn-link btn" style="width: 100%;margin: 0;color: #d58512;" ng-click='sync(report, true)'><span class="icon icon-gears"></span> <i18n>_SYNC_SYNC</i18n></button>
                            </li>
                            <li>
                                <button class="btn-link btn" style="width: 100%;margin: 0;color: #d58512;" ng-click='__delete(report)'><span class="icon icon-remove"></span> <i18n>_SYNC_DELETE</i18n></button>
                            </li>
                        </ul>
                    </div>
                    {{site.activities._byId[report.activity].label}}<br/>
                    <small>{{report.timestamp | date:'HH:mm dd/MM'}}</small><br/>
                    <span class="label label-success">Synchronisé</span>
                </div>
                <div style="padding-bottom: 25px;" class="list-group-item" ng-repeat="object in (census | synchronized) track by object.uuid " ng-hide="object.hide">
                    <div class="btn-group pull-right" ng-show="object.synced">
                        <button ng-show='!object.syncInProgress' type="button" class="btn btn-primary  btn-s dropdown-toggle" data-toggle="dropdown">
                            <span class="icon icon-gears"></span> <span  ng-show='!object.syncInProgress' class="caret"></span>
                        </button>
                        <span ng-show="object.syncInProgress" style="padding: 0px 1px;" us-spinner="{radius:5, width: 2, length: 5, hwaccel:true, color:'orange'}"></span>
                        <ul  ng-show='!object.syncInProgress' class="dropdown-menu" role="menu">
                            <li>
                                <button class="btn-link btn" style="width: 100%;margin: 0;color: #d58512;" ng-click='syncCensus(object, true)'><span class="icon icon-gears"></span> <i18n>_SYNC_SYNC</i18n></button>
                            </li>
                            <li>
                                <button class="btn-link btn" style="width: 100%;margin: 0;color: #d58512;" ng-click='__deleteCensus(object)'><span class="icon icon-remove"></span> <i18n>_SYNC_DELETE</i18n></button>
                            </li>
                        </ul>
                    </div>
                    {{object.fields[site.metamodel[object.okey].ukey]}} <br/>
                    <span class="label label-success">Synchronisé</span>
                </div>
            </div>
        </li>

        <li ng-show="toBeSyncLenght() <= 0;">
            <a style='padding-left: 1em;font-size:1em;'>
                <span class="icon-check"></span>
                <i18n>_SYNC_EVERYTHING_IS_SYNCED</i18n>
            </a>
        </li>
        <li>
            <a style='padding-left: 1em;font-size:1em;' href="#/sites/update/{{site.id}}">
                <span class="icon-refresh"></span>
                <i18n>_SYNC_UPDATE</i18n> {{site.label}}
            </a>
        </li>
        <li>
            <a style='padding-left: 1em;font-size:1em;' ng-click="uninstallCurrentSite()" >
                <!-- href="#/"> -->
                <span class="icon-trash"></span>
                <i18n>_SYNC_UNINSTALL</i18n> {{site.label}}
            </a>
        </li>
    </ul>
</div>
