<div class="content" ng-controller="siteUpdateController">
    <div class="panel floating-form">
        <h2>
            <img src="./images/logo-smartgeo.png" alt="Smartgeo mobile">
            <small>{{version}}</small>
        </h2>
        <p class="site-name"><b><i18n>_UPDATE_UPDATING</i18n> {{site.label}}</b>
        </p>
        <hr>
        <div class="progress">
            <div ng-repeat="step in steps" class="progress-bar" role="progressbar" aria-valuenow="{{Math.round(100 * step.progress / totalProgress)}}" aria-valuemin="0" aria-valuemax="100" style="background:{{step.color}};width: {{Math.round(100 * step.progress / totalProgress)}}%;">
                <span class="sr-only">{{Math.round(100 * step.progress / totalProgress)}}%</span>
            </div>
        </div>
    </div>
</div>
