<form ng-submit="authController.login()" class="panel floating-form loginForm">
    <h2>
        <img src="./images/logo-smartgeo.png" alt="Smartgeo mobile">
        <small>{{::version}}</small>
    </h2>
    <div ng-switch="authController.downloadTiles" class="tiles-info">
        <p ng-switch-when='true'><i18n>_AUTH_TILES_DYNAMIC_</i18n></p>
        <p ng-switch-when='false'><i18n>_AUTH_TILES_LOCAL_</i18n></p>
    </div>
    <hr>
    <input class="form-control" type='text' ng-model="authController.gimapServer" ng-show='authController.firstAuth' placeholder='Adresse du serveur'></input>
    <input class="form-control" type='text' ng-model="authController.user.username" placeholder='Utilisateur'></input>
    <input class="form-control" type='password' ng-model="authController.user.password" placeholder='Mot de passe'></input>
    <label class="rememberMeCheckbox">
        <i18n>_AUTH_REMEMBER_PASSWORD_</i18n>
        <input type="checkbox" ng-model="authController.user.rememberme">
    </label>
    <div ng-if='authController.errorMessage' class="alert alert-danger login-errorMessage">{{authController.errorMessage}}</div>
    <button name="login-button" class="btn btn-lg btn-primary btn-block" ng-disabled="(!authController.gimapServer.length || !authController.user.username.length || !authController.user.password.length) || authController.loginInProgress">
        <i ng-if="authController.loginInProgress" class="fa fa-refresh fa-spin"></i>
        <i18n>_AUTH_LOG_MESSAGE_LOGIN_</i18n>
    </button>
</form>

<div ng-if="::!authController.firstAuth" class="btn-group bottom-right dropup">
    <button type="button" name="parameters-button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="fa fa-gears"></span>
        <i18n>_AUTH_SETTINGS_</i18n>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right" role="menu">
        <li ng-if="::!authController.firstAuth">
            <a ng-click="authController.reset()" name="reset-button" >
                <i18n>_AUTH_CHANGE_GIMAP_URL_</i18n>
                <small>({{::authController.gimapServer}})</small>
            </a>
        </li>
    </ul>
</div>
