<div id="left_panel_census" ng-controller="CensusController as censusController">

    <div ng-if='censusController.okey' style="margin-left:-15px;">
        <census
            ng-if='censusController.okey'
            okey='censusController.okey'
            asset='censusController.asset'
            onclose='censusController.close()'
            classindex='censusController.classindex'>
        </census>
    </div>

    <div ng-if='!censusController.okey'>
        <div style="margin:10px" class="panel panel-warning">
            <div class="panel-heading">
                <i class="fa fa-info-circle"> </i><i18n>_CENSUS_CHOOSE_OBJECT_</i18n>
            </div>
        </div>
        <ul>
            <li ng-repeat="(modelOkey, model) in (censusController.metamodel) | orderObjectBy:'label'" ng-if="model.is_census && (model.is_project===censusController.isProject)">
                <a ng-click='censusController.startCensus(model.okey)'>
                    <img ng-if='icon = (model.okey | getIconFromModelOkeyForCensus)' ng-src='{{icon}}' alt="" />
                    <label>{{model.label}}</label>
                </a>
            </li>
        </ul>
    </div>
</div>
