<div ng-controller="ConsultationController as consultationController" class="consultation-panel" ng-class="{open : consultationController.isOpen}">
    <div class="toggleConsultationPanelButton" ng-show="consultationController.groups">
        <span class="fa fa-info"></span>
    </div>
    <div class="consultation-content">
        <div class="panel consultation-group" ng-if="consultationController.multiselection.length > 0">
            <div ng-repeat='(okey, assets) in consultationController.multiselection' ng-if="assets.length" class="assetConsultationDirective">
                <div class="panel-heading consultation-panel-heading {{!consultationController.multiselection[okey].close ? 'consultationDirectiveOpen' : ''}}" ng-click="consultationController.multiselection[okey].close = !consultationController.multiselection[okey].close">
                    <h4 class="panel-title">
                        Sélection {{::consultationController.metamodel[okey].label}}
                        <span class="badge">{{assets.length}}</span>
                        <span class="pull-right fa fa-caret-{{consultationController.multiselection[okey].close ? 'down' : 'up'}}"></span>
                    </h4>
                </div>

                <div ng-if="!consultationController.multiselection[okey].close" class="panel-collapse">
                    <div class="panel-body multiselection-body">
                        <div ng-repeat='asset in assets' ng-if='!consultationController.multiselection[okey].close' class="consultation-multiselection-assets-list">
                            {{::asset.label}}
                            <i ng-click="consultationController.dropAssetFromMultiselection(asset)" class="fa fa-times consultation-multiselection-trash"></i>
                        </div>
                        <div ng-if="asset.locked && rights.report && !consultationController.multiselection[okey].close" class="btn-group consultation-multiselection-report-button">
                            <button type="button" class="dropdown-toggle consultation-btn" data-toggle="dropdown">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="activity in assets|activityListFilter">
                                    <a ng-href="#/report/{{consultationController.siteid}}/{{activity.id}}/{{consultationController.getMultiselectionAssetsIds(okey)}}">{{::activity.label}}</a>
                                </li>
                            </ul>
                            <button ng-if="consultationController.currentLoadedProject" class="consultation-btn" ng-click="consultationController.addMultiselectionToCurrentProject(okey)"><i class="fa fa-exclamation-triangle"></i>
                        </div>
                        <button ng-if='!consultationController.multiselection[okey].close' ng-click="consultationController.emptyMultiselectionForOkey(okey)" type="button" class="consultation-btn">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="consultationController.loading" class="consultationLoadingBlock">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
        <div ng-repeat="(key, priority) in consultationController.groups track by key" ng-if="!consultationController.loading">
            <div class="panel-group" ng-repeat="(okey, assets) in priority track by okey" ng-if="assets.length">
                <h4 class="family-title">{{::consultationController.metamodel[assets[0].okey].label}}</h4>
                <div class="panel consultation-group">
                    <asset-consultation asset='asset' ng-repeat='asset in assets track by $index' class="assetConsultationDirective" />
                </div>
            </div>
        </div>

        <div style="margin-top: 25px;" ng-if="consultationController.rights.report && consultationController.coordinates && consultationController.coordinates.lat && consultationController.coordinates.lng">
            <button class="btn btn-primary btn-block" ng-click="openLocatedReport(consultationController.coordinates.lat, consultationController.coordinates.lng)">
                <i18n>_CONSULTATION_REPORT_ON_POSITION</i18n>
            </button>
        </div>
    </div>
</div>
