<div class="content" ng-controller="siteInstallController">
    <div class="panel floating-form">
        <h2>
            <img src="./images/logo-smartgeo.png" alt="Smartgeo mobile">
            <small>{{version}}</small>
        </h2>
        <p style="margin-top: 30px;">
            <b>
                <i18n>_INSTALL_INSTALLING</i18n> {{site.label}}
            </b>
        </p>
        <hr>
        <p ng-show="!site.installed && currentInstalledOkey">
            <div class="row">
                <i18n>_INSTALL_INSTALLING_IN_PROGRESS</i18n>
            </div>
            <div class="row">
                <i>{{site.metamodel[currentInstalledOkey].label}}</i>
            </div>
        </p>
        <div class="progress">
            <div ng-repeat="(key, step) in steps" class="progress-bar" role="progressbar" aria-valuenow="{{Math.round(100 * step.progress / totalProgress)}}"
                aria-valuemin="0" aria-valuemax="100" style="background:{{step.color}};width: {{Math.round(100 * step.progress / totalProgress)}}%;">
                <span class="sr-only">{{Math.round(200 * step.progress / totalProgress)}}%</span>
            </div>
        </div>

        <div ng-if="progress_asset.length !==0" style="padding: 5px;">
            <div class="row">
                <a class="btn btn-primary btn-xs" role="button" ng-click="toggleLogTable()">
                    <span ng-if="!showLogTable">
                        <i class="fa fa-caret-down"> </i>
                        <i18n>_INSTALL_DISPLAY_LOGTABLE</i18n>
                    </span>
                    <span ng-if="showLogTable">
                        <i class="fa fa-caret-up"> </i>
                        <i18n>_INSTALL_HIDE_LOGTABLE</i18n>
                    </span>
                </a>
            </div>
            <div class="row" ng-if="showLogTable">
                <table class="table table-striped " style="font-size: 50% ">
                    <thead style="height:15px; ">
                        <tr>
                            <th style="text-align:center;">
                                <i18n>_INSTALL_LOGTABLE_PROCESS
                                </i18n>
                            </th>
                            <th style="text-align:center;">
                                <i18n>_INSTALL_LOGTABLE_TIME
                                </i18n>
                            </th>
                        </tr>
                    </thead>
                    <tbody style="height:100px; overflow-y:auto; ">
                        <tr ng-repeat="(key, log) in progress_asset ">
                            <td>{{log.message}}</td>
                            <td>{{log.time}} ms</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
