<div ng-controller="ProjectController as projectController" class="project-controller">
    <div ng-repeat="project in (projectController.projects | orderBy:'id') track by $index" class="project-block">
        <div class="panel panel-default">
            <div class="panel-heading" ng-click="project.toggleCollapse()">
                <h3 class="panel-title" ng-class="project.loaded == true ? 'project-loaded' : ''">{{project.name}}</h3>
            </div>
            <div class="panel-body" ng-show="project.is_open">
                <p ng-if="project.estimated_end_date">
                    <i18n class="project-desc-title">_PROJECTS_ESTIMATED_END_DATE_</i18n> : {{project.estimated_end_date}}</p>
                <p ng-if="project.last_update_date">
                    <i18n class="project-desc-title">_PROJECTS_LAST_UPDATE_</i18n> : {{project.last_update_date}}</p>
                <p ng-if="project.project_manager">
                    <i18n class="project-desc-title">_PROJECTS_PROJECT_MANAGER_</i18n> : {{project.project_manager}}</p>
                <p ng-if="project.status">
                    <i18n class="project-desc-title">_PROJECTS_PROJECT_STATUS_</i18n> : {{project.status}}</p>
                <p ng-if="project.url">
                    <i18n class="project-desc-title">_PROJECTS_PROJECT_URL_</i18n> : {{project.url}}</p>
                <!-- <p ng-if="project.bilan"><i18n class="project-desc-title">_PROJECTS_PROJECT_BILAN_</i18n> : <p ng-bind-html="project.bilan"></p></p> -->
                <button ng-if="project.loaded != true" ng-disabled="project.loading || !project.updatable" class="btn btn-block" ng-click="projectController.loadProject(project)">
                    <i18n ng-if="project.updatable && !project.loading">_PROJECTS_LOAD_PROJECT_</i18n>
                    <i ng-if="!project.updatable" class="fa fa-lock"></i>
                    <i18n ng-if="!project.updatable">_PROJECT_IS_LOCKED_</i18n>
                    <i ng-if="project.loading" class="fa fa-refresh fa-spin"></i>
                    <i18n ng-if="project.loading">_PROJECTS_LOADING_PROJECT_</i18n>
                </button>
                <button ng-if="project.loaded == true && project.hasBeenModified() " ng-disabled="project.synchronizing" class="btn btn-block"
                    ng-click="project.synchronize()">
                    <i18n ng-if="!project.synchronizing">_PROJECTS_SAVE_PROJECT_</i18n>
                    <i ng-if="project.synchronizing" class="fa fa-refresh fa-spin"></i>
                    <i18n ng-if="project.synchronizing">_PROJECTS_SYNCHRONIZING_PROJECT_</i18n>
                </button>
                <button ng-if="project.loaded == true && project.hasBeenModified() " ng-disabled="project.unloading" class="btn btn-block"
                    ng-click="project.discardChanges()">
                    <i18n ng-if="!project.unloading">_PROJECTS_DISCARD_PROJECT_</i18n>
                    <i ng-if="project.unloading" class="fa fa-refresh fa-spin"></i>
                    <i18n ng-if="project.unloading">_PROJECTS_UNLOADING_PROJECT_</i18n>
                </button>
                <button ng-if="project.loaded == true && !project.hasBeenModified() " ng-disabled="project.unloading" class="btn btn-block"
                    ng-click="project.unload()">
                    <i18n ng-if="!project.unloading">_PROJECTS_UNLOAD_PROJECT_</i18n>
                    <i ng-if="project.unloading" class="fa fa-refresh fa-spin"></i>
                    <i18n ng-if="project.unloading">_PROJECTS_UNLOADING_PROJECT_</i18n>
                </button>
                <button ng-if="project.loaded == true && project.getAssetLength() > 0" class="btn btn-block" ng-click="project.consult()">
                    <i18n>_PROJECTS_CONSULT_ASSETS_</i18n>
                </button>
            </div>
        </div>
    </div>
    <p ng-if="!projectController.loading && projectController.projects.length === 0" class="no-projects">
        <i18n>_NO_PROJECTS_</i18n>
    </p>
    <button class="btn btn-primary btn-block btn-load-project" ng-disabled="projectController.loading" ng-click="projectController.getRemoteProjects()">
        <i ng-if="projectController.loading" class="fa fa-refresh fa-spin"></i>
        <i18n ng-if="projectController.projects.length === 0">_PROJECTS_GET_PROJECT_</i18n>
        <i18n ng-if="projectController.projects.length !== 0">_PROJECTS_REFRESH_PROJECT_</i18n>
    </button>
</div>
