<div ng-controller="licenseController">
    <form ng-show='!successMessage' ng-submit="register()" class="panel floating-form">
        <h2><img src="./images/logo-smartgeo.png" alt="Smartgeo mobile"> <small>{{version}}</small></h2>
        <hr/>
        <div class="form-group">
            <label for="licenseNumber">Numéro de licence</label>
            <input type="text" class="form-control" id="licenseNumber" ng-model="licenseNumber">
        </div>
        <div ng-if='errorMessage' class="alert alert-danger login-errorMessage">{{errorMessage}}</div>
        <button ng-class="{active:registerInProgress}" class="btn btn-lg btn-primary btn-block has-spinner"
            ng-disabled = "!licenseNumber.length  || registerInProgress">
            <span class="spinnerb"><i class="icon-spin icon-refresh"></i></span> <i18n>_REGISTER_REGISTER_</i18n>
        </button>
    </form>
    <form ng-show='successMessage' ng-submit="continue()" class="panel floating-form">
        <div class="alert alert-success">{{successMessage}}</div>
        <button class="btn btn-lg btn-primary btn-block" >Continuer</button>
    </form>
</div>
