<form name="reportForm" class="reportForm">
    <h3>Compte rendu {{reportController.report.activity.label}}</h3>
    <button type="button" class="btn btn-default needPadding" ng-click="reportController.cancel()">
        <i class="fa fa-ban"></i>
        <i18n>_REPORT_CANCEL</i18n>
    </button>
    <button type="submit" style="white-space:normal;" class="btn btn-primary has-spinner needPadding" ng-class='{active:reportController.sendingReport}'
        ng-disabled="!reportForm.$valid || reportController.sendingReport || reportController.attachmentIsRequiredAndEmpty()"
        ng-click="reportController.sendReport()">
        <span class="icon-save"></span>
        <i class="fa fa-save"></i>
        <i18n>_REPORT_SAVE</i18n>
        <i ng-if="reportController.sendingReport" class="fa fa-refresh fa-spin"></i>
        </span>
    </button>

    <div bindonce ng-repeat='tab in reportController.report.activity.tabs' class="panel panel-default report">
        <div class="panel-heading report-heading">
            <span class="pull-right icon {{tab.show ? 'icon-caret-up' : 'icon-caret-down'}}"></span>
            <h4 class="panel-title" ng-click="tab.show = !tab.show">{{::(tab.label + (tab.required ? ' *' : ''))}}</h4>
        </div>
        <div ng-if="tab.show" class="panel-collapse' + ('' + i !== '0' ? ' collapse' : '') + '">
            <div class="panel-body">
                <div ng-repeat='field in tab.fields'>
                    <p ng-if="field.readonly" ng-show="field.visible !== false">
                        <b class="ro-label" ng-bind-html="field.label"></b>
                        <span class="ro-value">{{::reportController.report.roFields[field.id]}}</span>
                    </p>
                    <div class="form-group" ng-if="!field.readonly && field.visible !== false" ng-form="validatorForm"
                        ng-class="{'isconsequence': field.visible}">
                        <label class="control-label" ng-class="{'prettycheckbox': (field.type === 'O') , checked : (field.type === 'O' && reportController.report.fields[field.id] === 'Y') }">
                            <span ng-bind-html="field.label"></span>
                            <span class="required-marker fa fa-asterisk" ng-show="field.required"></span>

                            <span ng-if="::field.type=='O'">
                                <span class="fa fa-check-square-o pull-left yes"></span>
                                <span class="fa fa-square-o pull-left no"></span>
                                <input type="checkbox" id="{{tab.id}}-{{field.id}}" ng-required='field.required' class="form-control"
                                    ng-model="reportController.report.fields[field.id]" ng-change="reportController.applyConsequences(field.id)"
                                    ng-true-value="'Y'" ng-false-value="'N'">
                            </span>
                        </label>

                        <!-- Select pour les champs de type Liste > 15 caracètres -->
                        <div ng-if='field.type=="L" && field.options.length > 15 && (!field.default || !field.default.pkey)'>
                            <ui-select skip-focusser="true" ng-required='field.required' ng-model="reportController.report.fields[field.id]"
                                theme="bootstrap" ng-disabled="disabled" on-select="reportController.applyConsequences(field.id)">
                                <ui-select-match allow-clear="true">{{$select.selected.label}}</ui-select-match>
                                <ui-select-choices repeat="option.value as option in reportController.report.activity._fields[field.id].options | filter: {'label': $select.search} | orderBy:'label' | limitTo: 75"
                                    style="display:{{($select.search.length > 1 && option.label !== null && option.label.indexOf($select.search) !== -1) ? 'block' : 'none'}}"
                                    value="option.value" position="down">
                                    <div ng-bind-html="option.label | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <!-- Select pour les champs de type Liste > 15 caracètres qui possèdent une valeur par défaut -->
                        <div ng-if='field.type=="L" && field.options.length > 15 && field.default && field.default.pkey'>
                            <ui-select skip-focusser="true" ng-required='field.required' ng-model="reportController.report.overrides[field.id]"
                                theme="bootstrap" ng-disabled="disabled">
                                <ui-select-match allow-clear="true">{{$select.selected.label}}</ui-select-match>
                                <ui-select-choices repeat="option.value as option in reportController.report.activity._fields[field.id].options | filter: {'label': $select.search} | orderBy:'label' | limitTo: 75"
                                    style="display:{{($select.search.length > 1 && option.label !== null && option.label.indexOf($select.search) !== -1) ? 'block' : 'none'}}"
                                    value="option.value" position="down">
                                    <div ng-bind-html="option.label | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <!-- Select pour les champs de type Liste < 15 caracètres max qui possèdent une valeur par défaut -->
                        <select ng-required='field.required' class="form-control" name="f" ng-model="reportController.report.overrides[field.id]"
                            ng-if='field.type=="L" && field.options.length <= 15 && field.default && field.default.pkey'
                            ng-options="option.value as option.label for option in field.options | orderListAlpha:'label'"
                            ng-change="reportController.applyConsequences(field.id)">
                            <option value=""></option>
                        </select>

                        <!-- Select pour les champs de type Liste < 15 caracètres max -->
                        <select ng-required='field.required' class="form-control" name="f" ng-model="reportController.report.fields[field.id]"
                            ng-if='field.type=="L" && field.options.length <= 15 && (!field.default || !field.default.pkey)'
                            ng-options="option.value as option.label for option in field.options | orderListAlpha:'label'"
                            ng-change="reportController.applyConsequences(field.id)">
                            <option value=""></option>
                        </select>

                        <input ng-required='field.required' class="form-control pull-left" ng-if="::(field.type=='D' && (!field.default || !field.default.pkey))"
                            ng-required="field.required" type="date" name="f" ng-model="reportController.report.fields[field.id]">

                        <input ng-required='field.required' class="form-control pull-left" ng-if="::(field.type=='D' && field.default && field.default.pkey)"
                            ng-required="field.required" type="date" name="f" ng-model="reportController.report.overrides[field.id]"
                            style="margin-bottom:10px">

                        <input type="time" class="form-control pull-left" ng-required='field.required' ng-if="::(field.type=='T')"
                            ng-model="reportController.report.fields[field.id]"></input>

                        <input ng-required='field.required' ng-if="::(field.type=='N' && field.default && field.default.pkey)"
                            type="number" class="form-control" ng-required="field.required" ng-pattern="reportController.numberPattern"
                            step="any" name="f" ng-model='reportController.report.overrides[field.id]'>
                        <input ng-required='field.required' ng-if="::(field.type=='N' && (!field.default || !field.default.pkey))"
                            type="number" class="form-control" ng-required="field.required" ng-pattern="reportController.numberPattern"
                            step="any" name="f" ng-model='reportController.report.fields[field.id]'>
                        <small ng-if="::(field.type=='N')" class="helper-text" ng-show="validatorForm.f.$error.number">Cette
                            valeur doit être un nombre.</small>

                        <input ng-required='field.required' name="f" ng-if="::(field.type=='C' && field.default && field.default.pkey)"
                            ng-required="field.required" class="form-control" ng-model='reportController.report.overrides[field.id]'>
                        <input ng-required='field.required' name="f" ng-if="::(field.type=='C' && (!field.default || !field.default.pkey))"
                            ng-required="field.required" class="form-control" ng-model='reportController.report.fields[field.id]'>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="!reportForm.$valid || reportController.attachmentIsRequiredAndEmpty()" class="alert alert-danger">
        <p ng-show="reportForm.$error.required || reportController.attachmentIsRequiredAndEmpty()">
            <span class="required-marker icon-asterisk"></span>
            <i18n>_REPORT_REQUIRED_FIELDS</i18n>
        </p>
    </div>
    <div ng-show="rights.media" class="panel report" ng-class="reportController.attachmentIsRequiredAndEmpty() ? 'panel-danger' : 'panel-default'">
        <div class="panel-heading">
            <h4 class="panel-title">
                <i18n>_REPORT_MEDIA</i18n>
            </h4>
        </div>
        <div class="panel-body">
            <button ng-disabled="reportController.report.ged.length >= reportController._MAX_MEDIA_PER_REPORT || isTakingPhoto"
                ng-click="reportController.getPictureFromCamera();" class='btn btn-default btn-block' ng-model='reportController.report.ged'>
                <i18n ng-show='!isTakingPhoto'>_REPORT_ADD_PICTURES</i18n>
                <i18n ng-show='isTakingPhoto'>_REPORT_LOADING</i18n>
                <i ng-show='isTakingPhoto' class="fa fa-refresh fa-spin"></i>
            </button>
            <button ng-disabled="reportController.report.ged.length >= reportController._MAX_MEDIA_PER_REPORT || isTakingPhoto"
                ng-click="reportController.getPictureFromGallery();" class='btn btn-default btn-block' ng-model='reportController.report.ged'>
                <i18n ng-show='!isTakingPhoto'>_REPORT_ADD_PICTURES_FROM_GALLERY</i18n>
                <i18n ng-show='isTakingPhoto'>_REPORT_LOADING</i18n>
                <i ng-show='isTakingPhoto' class="fa fa-refresh fa-spin"></i>
            </button>
            <div id="images">
                <ul class='ged-gallery'>
                    <div ng-show="reportController.report.imgError" class="alert alert-danger">
                        <p style="text-align:justify">
                            <span class="required-marker icon-asterisk"></span>
                            <i18n>_REPORT_MULTIMEDIA_TOO_LARGE</i18n>
                        </p>
                        <p>
                            <i18n>_REPORT_IMG_MAX_SIZE_ALLOWED</i18n> :
                            {{reportController.report.imgErrorValue.maxImgSize}} Mo
                        </p>
                        <p>
                            <i18n>_REPORT_IMG_CURRENT_SIZE</i18n> :
                            {{reportController.report.imgErrorValue.actualImgSize}} Mo
                        </p>
                    </div>
                    <li ng-repeat='image in reportController.report.ged'>
                        <img ng-src="{{image.content}}" alt=""></img>
                        <button class="btn btn-default btn-danger btn-block" ng-click="">
                            <span ng-click="reportController.report.removeGedItem($index)" class="fa fa-trash" style="text-align: center;display: block;font-size: 2em;"></span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel consultation-group" ng-if="reportController.assets.length > 0">
        <asset-consultation asset='::asset' ng-repeat='asset in reportController.assets' no-button='true' class="reportFormObject"></asset-consultation>
    </div>
    <button class="btn btn-default needPadding" ng-click="reportController.cancel()">
        <i class="fa fa-ban"></i>
        <i18n>_REPORT_CANCEL</i18n>
    </button>
    <button style="white-space:normal;" class="btn btn-primary has-spinner needPadding" ng-class='{active:reportController.sendingReport}'
        ng-disabled="!reportForm.$valid || reportController.sendingReport || reportController.attachmentIsRequiredAndEmpty()"
        ng-click="reportController.sendReport()">
        <span class="icon-save"></span>
        <i class="fa fa-save"></i>
        <i18n>_REPORT_SAVE</i18n>
        <i ng-if="reportController.sendingReport" class="fa fa-refresh fa-spin"></i>
        </span>
    </button>
</form>
