describe('Smartgeomobile controllers', function() {
    var $scope, ctrl;

    beforeEach(module('smartgeomobile'));
    beforeEach(inject(function($rootScope) {
        $scope = $rootScope.$new();
    }));

    describe('xxxxxxController', function(){
        beforeEach(inject(function($controller) {
            ctrl = $controller('xxxxxxController', {$scope:$scope});
            $scope.initialize();
        }));
        describe('xxxxxxController#initialize', function(){
            it('should', inject(function() {
                expect(true).toBe(true);
            }));
        });
    });
});
